.main-banner-video-wrap
  position: relative
  height: 100vh
  width: 100%
  +breakpoint(large only)
    height: 55vh
  .video-background
    +fullsize
    z-index: -1
    overflow: hidden
    .video-foreground
      position: absolute
      width: 100%
      height: 100%
      top: 0
      left: 0
      background-color: $dark-color
      pointer-events: none
      +scale(1.4)
      iframe
        position: absolute
        width: 100%
        height: 100%
        top: 0
        left: 0

.content-banner
  +translate(0,27%)
  .info-banner
    color: white
    .company
      text-transform: uppercase
      font-size: 16px
      &:after
        content: ""
        height: 1px
        width: 15px
        background: white
        display: inline-block
        vertical-align: middle
        margin-left: 10px
    .h1
      font-size: 60px
      font-weight: 700
      line-height: 1
      text-transform: uppercase
      padding: 40px 0
    p
      font-size: 14px
      color: rgba(white, 0.6)

    .play-box
      margin-top: 100px
      display: inline-block
      &.green
        .play-button 
          border: 1px solid $green-color
          svg
            fill: $green-color

          ~ span
            color: $green-color

      .play-button 
        border: 1px solid white
        display: inline-block
        width: 64px
        height: 64px
        vertical-align: middle
        cursor: pointer
        +transition(.4s)
        svg
          width: 64px
          height: 64px
          fill: white
          padding: 22px
          +transition(.1s)

        ~ span
          vertical-align: middle
          margin-left: 20px
          font-size: 14px
          +transition(.7s)

      &:hover
        .play-button
          border: 1px solid $green-color
          svg
            fill: $green-color
        span
          color: $green-color
        &.green
          .play-button
            border: 1px solid $blue-color
            svg
              fill: $blue-color
          span
            color: $blue-color
  
  .sroll-link
    position: absolute
    bottom: 30px
    color: rgba(white, 0.6)
    font-size: 12px

  .one-box-nav

  &.about-us
    @media only screen and (min-width: 1500px) and (max-width: 1750px)
      +translate(0,27%) 
    
    //   transform: translate(0,27%) !important
    .info-banner
      color: $dark-color
    
      p
        color: $dark-color

    .one-box-nav
      text-align: center
      height: 140px
      .figure
        color: white
        font-size: 40px
        font-weight: 800
      .title 
        font-size: 8px
        font-weight: 400
        position: relative
        left: initial
        bottom: initial
        width: 100%
        color: rgba(white, 0.8)

    +breakpoint(medium only)
      max-width: 500px
    +breakpoint(small only)
      +translate(0,10%)
      



  +breakpoint(medium down)
    .one-box-nav 
      width: 33.3%
      display: inline-block
      border-right: 1px solid rgba(white, 0.6)
      margin-top: 200px
      vertical-align: top
      &:last-child
        border-right: 1px solid transparent


+breakpoint(small only)
  .content-banner
    +translate(0,14%)
    .info-banner
      .company
        text-transform: uppercase
        font-size: 14px
      .h1
        font-size: 30px
      p
        font-size: 16px

    .one-box-nav
      margin-top: 30px
      height: 110px
      text-align: center
      padding: 10px
      .title
        position: relative
        font-size: 12px
        left: initial
        bottom: initial
        width: initial
      .hover-arrow
        display: none



@media only screen and (min-width: 1601px)
  .content-banner
    +translate(0,60%)
    .info-banner
      .company
        text-transform: uppercase
        font-size: 18px
      .h1
        font-size: 80px
      p
        font-size: 16px

    .one-box-nav
      height: 160px

    &.about-us
      .one-box-nav
        height: 170px    
        .figure
          font-size: 50px
        .title 
          font-size: 10px


@media only screen and (min-width: 1700px) and (-webkit-min-device-pixel-ratio: 2)
  .content-banner
    +translate(0,30%)