.footer-wrap
  background-color: $green-color
  overflow: hidden
  .one-box-footer
    padding: 50px 0
    color: white
    position: relative
    &.ipad-none
      +breakpoint(medium only)
        display: none
    +breakpoint(small only)
      padding: 20px 0
    &.balck-color
      background-color: $dark-color
      padding: 50px 30px
      .title
        color: white
      &:after
        content: ""
        display: block
        position: absolute
        left: 0
        right: 0
        bottom: -90px
        width: 100%
        height: 100px
        background-color: $dark-color
        pointer-events: none
    .title
      padding-bottom: 30px
      color: $dark-color
      font-size: 14px
      font-weight: 700
      &.smp
        padding: 30px 0 10px

    
    p
      font-size: 14px
      color: rgba(white, 0.6)

    ul
      column-count: 2
      li
        margin-bottom: 15px
        font-weight: 600
        &:hover
          color: $dark-color

    a
      display: block
      font-weight: 600
      margin-bottom: 10px
      +transition(.3s)
      &:hover
        color: $dark-color
        svg
          fill: $dark-color

    svg
      width: 18px
      fill: white
      vertical-align: middle
      margin-right: 10px
      &:hover
        fill: $dark-color

    .socials
      display: inline-block

    .sub-title
      color: rgba(white, 0.6)
      font-size: 14px
      font-weight: 300
      margin-bottom: 10px

    .button
      margin-top: 50px
      font-weight: 600
      color: rgba(white, 0.6)
      +transition(.3s)
      svg
        fill: rgba(white, 0.6)
        vertical-align: unset
      &:hover
        color: white
        svg
          fill: white

  .crieted-box
    position: relative
    margin-top: 50px
    svg
      +transition(.3s)
      width: 30px
      *
        fill: $dark-color
    span
      +transition(.3s)
      position: absolute
      color: $dark-color
      margin-left: 10px
      font-size: 12px
    &.sm
      background-color: #197e32
      padding: 15px 10px
      margin-top: 0
      svg
        *
          fill: white
      span
        color: rgba(white, 0.6)

    &:hover
      svg
        *
          fill: white
      span 
        color: white


