form
  position: relative
.input-field
  position: relative
  // margin: 20px 0
  input, textarea, select
    display: block
    padding: 10px 0
    width: 100%
    border: none
    outline: none
    background-color: transparent
    border-bottom: 1px solid rgba(white, 0.6)
    line-height: 1.5
    color: $dark-color
    &:focus
      outline: none
  label
    font-size: 0.875rem
    position: absolute
    left: 0
    pointer-events: none
    top: 15px
    transition: all 0.2s ease
    color: rgba(white, 0.6)
    font-style: italic
  .bar
    position: relative
    display: block
    width: 100%
    &:before, &:after
      content: ''
      height: 1px
      width: 0
      bottom: 0
      position: absolute
      background: rgba(white, 0.6)
      transition: all 0.5s cubic-bezier(0.165, 0.84, 0.44, 1)
    &:before
      left: 0
  input:focus ~ .bar, input.used ~ .bar
    &:before
      width: 100%
  input:focus ~ label, input.used ~ label, textarea:focus ~ label, textarea.used ~ label
    color: white
    top: -2px
    font-size: 0.5em

  &.footer
    input, textarea, select
      color: white
    input:focus ~ label, input.used ~ label, textarea:focus ~ label, textarea.used ~ label
      color: white
      top: -2px
      font-size: 0em

  &.popups
    margin: 15px 0
    input, textarea, select
      border-bottom: 1px solid $blueGrey200
    label
      color: $blueGrey200
    input:focus ~ label, input.used ~ label, textarea:focus ~ label, textarea.used ~ label
      color: $blueGrey200
      top: -2px
      font-size: 0.5em
    .bar
      &:before, &:after
        background: $blueGrey400
