.header-container
  position: fixed
  padding: 0 0 0 30px
  width: 100%
  background: white
  display: -webkit-flex
  display: -moz-flex
  display: -ms-flex
  display: -o-flex
  display: flex
  justify-content: space-between
  // overflow: hidden
  box-shadow: 0 0 1px rgba(0,0,0,0.5)
  +transition-property(transform)
  +transition-duration(1s)
  // +translate(0,-100%)
  z-index: 11111
  +breakpoint(small only)
    padding: 0 10px
  &.scrolled, &.visible
    +translate(0,0)
  .logo
    width: 100px
    line-height: 1
    position: relative
    svg
      width: 100%
      +y-align

  .logo, .right-part
    vertical-align: middle

  .right-part
    text-align: right
    width: calc(100% - 100px)
    // @media only screen and (min-width: 1500px) and (max-width: 1750px)
    //   width: calc(100% -10px)
    .nav-box
      li
        display: inline-block
        padding: 30px 0
        a
          padding: 30px 15px
          font-weight: 700
          font-size: 12px
          +transition(.3s)
          &.dd-b
            padding: 30px 20px
          &:hover
            color: $green-color
      .dd-hover-canalization, .dd-hover-goods
        position: relative
        svg
          width: 15px
          vertical-align: middle
          margin: 0 20px 0 -17px
        .hover-block-canalization, .hover-block-goods
          background-color: white
          position: absolute
          top: 84px
          width: 250px
          // max-width: 100%
          pointer-events: none
          opacity: 0
          +transition(.3s)
          li
            display: block
            text-align: left
            padding: 0
            a
              display: block
              padding: 15px 30px 15px 15px
              font-size: 12px
              font-weight: 400
              border-bottom: 1px solid rgba(black, 0.1)
              &:last-child
                border-bottom: 1px solid transpatern

        &:hover
          background-color: $blueGrey50
          svg
            +rotate(180deg)
            fill: $green-color
          .hover-block-canalization, .hover-block-goods
            opacity: 1
            pointer-events: initial


    .number-box
      position: relative
      padding: 0 20px
      &:before, &:after
        content: ""
        display: block
        width: 1px
        background-color: rgba(black, 0.1)
        height: 85px
        position: absolute
        top: -15px
        bottom: 0
      &:before
        left: 0
      &:after
        right: 0

      .tel
        color: $dark-color
        font-size: 14px
        font-weight: 600
        margin: 5px 0 10px
        line-height: 1
        display: block
        span
          color: $green-color

    .hamburger
      display: none

  +breakpoint(xxlarge up)
    .logo
      width: 120px
    .right-part
      .nav-box
        li
          a
            padding: 34px 30px
            font-size: 14px
            &.dd-b
              padding: 34px 35px
        .dd-hover-canalization, .dd-hover-goods
          position: relative
          svg
            margin: 0 20px 0 -25px 
          .hover-block-canalization, .hover-block-goods
            width: 275px
            // top: 54px

      .number-box
        .tel
          font-size: 16px

  +breakpoint(large down)
    .right-part
      .nav-box, .number-box, .language-box
        display: none
      .hamburger
        display: inline-block

      // H a m b u r g e r

.hamburger
  .hamburger-box
    width: 30px
    top: 10px
  .hamburger-inner
    width: 30px
    height: 2px
    border-radius: 0
    background-color: $green-color
    &:before, &:after
      width: 30px
      height: 2px
      border-radius: 0
      background-color: $green-color

    &:before
      top: -8px
    &:after
      top: -16px
  


.language-box
  float: right
  padding: 30px 15px 37px
  position: relative
  cursor: pointer
  text-transform: uppercase
  svg
    width: 12px
    height: 12px
    margin-left: 10px
    vertical-align: middle
    +transition(.3s)
    path
      fill: $dark-color
  .language-one
    font-weight: 600
    color: $green-color
    cursor: pointer
    height: 100%
    
    display: inline-block
  .hover-block
    position: absolute
    width: 100%
    opacity: 0
    left: 0
    top: 85px
    pointer-events: none
    background-color: white
    +transition(.3s)
    border-bottom: 3px solid $green-color
    .language-one
      color: rgba(#445963, 0.6)
      border-bottom: 1px solid $green-color
      display: block
      padding: 10px 20px
      text-align: center
      &:last-child
        border-bottom: 1px solid transparent
      &:hover
        color: #445963
  &:hover
    svg
      +rotate(180deg)
    .hover-block
      opacity: 1
      pointer-events: initial