.mobile-menu
  position: fixed
  z-index: 200
  width: 100%
  min-height: 100vh
  overflow: hidden
  background-color: white
  +transition(.5s)
  +translate(100%,0)
  &.opened
    +translate(0,0)
  .close-box
    text-align: right
    svg
      fill: $green-color
      width: 30px
      margin: 15px 25px 0 0
  .nav-box
    padding: 40px 0 0 40px
    .dd-hover-goods, .dd-hover-canalization
      &.active
        svg
          +rotate(180deg)
          margin-top: -5px
        .hover-block-canalization, .hover-block-goods
          display: block
      
      .title
        display: inline-block
        
    .hover-block-canalization, .hover-block-goods

      display: none
      margin: 10px 30px
      li
        margin-bottom: 15px
      .title
        margin-right: 30px
        font-weight: 400
        font-size: 14px
    li
      margin-bottom: 15px
      .title
        font-weight: 700
        font-size: 20px
      svg
        vertical-align: sub
        width: 20px
        +transition(.3s)

  .contact-us-box
    background-color: $green-color
    padding-left: 10px
    position: absolute
    bottom: 0
    left: 0
    right: 0
    .one-box
      color: rgba(white, 0.7) 
      display: block
      padding: 20px 0 
      svg
        margin-right: 30px
        width: 30px
        height: 30px
        vertical-align: middle
    .socials-box
      position: absolute
      right: 0
      top: 0
      bottom: 0
      width: 70px
      &:before
        content: ""
        display: block
        +y-align
        width: 100%
        height: 1px
        background-color: $green-color
        z-index: 1
      .one-social
        background-color: #1c8c38
        height: 50%
        position: relative
        svg
          width: 20px
          height: 20px
          +centered-inside
        
    svg
      
      fill: white
  
  +breakpoint(medium only)
    .nav-box
      li
        margin-bottom: 30px
        .title
          font-size: 30px

        svg
          height: 30px
          width: 30px
        
      .hover-block-canalization, .hover-block-goods
        li
          .title
            font-size: 20px