.one-box-container
  position: relative
  overflow: hidden
  z-index: 10
  display: block
  // height: 500px
  padding-bottom: 150%
  cursor: pointer
  +transition(.5s)
  .img-bg
    &:before
      content: ""
      display: block
      +fullsize
      background: -moz-linear-gradient(top, rgba(0,0,0,0) 0%, rgba(0,0,0,0) 20%, rgba(0,0,0,0.05) 29%, rgba(0,0,0,0.65) 83%, rgba(0,0,0,0.7) 100%)
      background: -webkit-linear-gradient(top, rgba(0,0,0,0) 0%,rgba(0,0,0,0) 20%,rgba(0,0,0,0.05) 29%,rgba(0,0,0,0.65) 83%,rgba(0,0,0,0.7) 100%)
      background: linear-gradient(to bottom, rgba(0,0,0,0) 0%,rgba(0,0,0,0) 20%,rgba(0,0,0,0.05) 29%,rgba(0,0,0,0.65) 83%,rgba(0,0,0,0.7) 100%)
      filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00000000', endColorstr='#b3000000',GradientType=0 )
  img
    display: none

  .info-genegal-box
    position: absolute
    bottom: 0
    padding: 30px
    width: 100%
    z-index: 1
    .info-box
      height: 68px
      overflow: hidden
      +transition(.3s)
      .title
        color: white
        margin-bottom: 20px
      p
        color: rgba(white, 0.6)
        font-size: 14px
        font-weight: 300
        max-height: 80px
        overflow: hidden

      .date
        color: rgba(white, 0.6)

    .bottom-info
      margin-top: 30px
      .photos
        color: rgba(white, 0.7)
      svg
        width: 20px
        fill: white
        float: right

  .date-box
    font-size: 12px
    color: white
    position: absolute
    left: 30px
    bottom: 30px
  .filter-tag
    background-color: $green-color
    padding: 10px 15px
    color: white
    position: absolute
    top: 30px
    right: 30px
    z-index: 10
    text-transform: uppercase
    font-size: 12px

  &.projekt-filters
    padding-bottom: 100%
    margin-bottom: 20px
    &:last-child
      margin-bottom: 50px
    .info-genegal-box
      .info-box
        .title
          font-weight: 600
      .bottom-info
        svg
          background-color: $green-color
          width: 25px
          padding: 4px
  &.filtes-elements, &.square-box
    padding-bottom: 70%
    margin-bottom: 20px
    .info-genegal-box
      background-color: rgba($dark-color, 0.6)
      .info-box
        color: white
    &:hover
      .info-genegal-box
        background-color: transparent
        +translate(0,-50%)

  +breakpoint(medium down)
    .info-genegal-box
      .bottom-info
        margin-top: 0
    .date-box
      left: 20px
      bottom: 20px
    .filter-tag
      padding: 7px 11px
      font-size: 10px
      top: 20px
      right: 20px
    &.projekt-filters, &.filtes-elements, &.square-box
      .info-genegal-box
        padding: 20px
        .info-box
          height: 56px
          .title
            font-size: 14px


  &.square-box
    padding-bottom: 130%
    .date-box
      bottom: 20px
    +breakpoint(large down)
      .info-genegal-box
        .info-box
          height: 55px
          .title
            font-size: 12px

    &:hover
      .info-genegal-box
        +translate(0,-40%)
    +breakpoint(xlarge only)
      &:hover
        .info-genegal-box
          +translate(0,-15%)


  &.sm-translate
    .info-genegal-box
      +translate(0,100%)
    &:hover
      .info-genegal-box
        +translate(0,60%)
  &:hover
    .img-bg
      +grayscale
    .hover-blue-patern
      opacity: 0.8
    .info-genegal-box
      .info-box
        overflow: initial
        +translate(0,-150%)
        margin-bottom: 50px

  +breakpoint(large down)
    &:hover
      +translate(0,0)


.mix
  display: none
  a
    img
      display: none


blockquote
  p
    font-size: 32px
    font-family: georgia
    font-weight: 300
    color: $dark-color
    line-height: 1
    &:before
      content: '\201C'
      display: block
      color: $green-color
      font-size: 150px
      line-height: 0.1
  +breakpoint(small only)
    p
      font-size: 24px


.owl-next, .owl-prev
  display: none

.bg-banner-grey
  // min-height: 50vh
  background-color: $blueGrey50

.head-banner-container
  text-align: center
  position: relative
  height: 55vh
  +breakpoint(large down)
    height: 40vh
  +breakpoint(small only)
    height: 55vh
  @media only screen and (min-width: 1535px) and (max-width: 1700px)
    height: 90vh
  @media only screen and (min-width: 1700px) and (-webkit-min-device-pixel-ratio: 2)
    height: 70vh
  .bg-banner-grey
    position: absolute
    width: 100%
    height: 100%
  .head-filter-titles-box
    +translate(0,100%)
    .head-title
      color: $green-color
      font-size: 40px
      font-weight: 800
    .sub-title
      color: rgba($dark-color, 0.6)

    .button-filter-box
      margin-top: 65px
      .one-filter-btn
        margin: 0 10px
        &.active
          background-color: $green-color
          span
            color: white
          svg
            fill: white
    +breakpoint(large down)
      +translate(0,70%)
      .button-filter-box
        margin-top: 25px
    +breakpoint(medium down)
      .button-filter-box
        margin-top: 15px
        .one-filter-btn
          margin-bottom: 10px
    +breakpoint(small only)
      +translate(0,50%)
      .head-title
        font-size: 30px
      .sub-title
        font-size: 12px



  +breakpoint(xlarge only)
    height: 100vh

.all-filters-elements
  margin-top: -250px
  +breakpoint(xxlarge up)
    margin-top: -175px
  +breakpoint(medium down)
    margin-top: -150px
  +breakpoint(small only)
    margin-top: -70px


.head-banner-title
  +translate(0,100%)
  text-align: left
  &.big
    +translate(0,150%)
  .date
    color: $green-color
    font-weight: 300
    margin-left: 30px

  .tags-container
    margin-top: 50px
    .tag
      display: inline-block
      margin-right: 10px
      border: 1px solid $green-color
      padding: 5px 15px
      span
        color: $green-color
        text-transform: uppercase
  +breakpoint(small only)
    +translate(0,40%)
    .head-title-box
      .head-title
        width: calc(100% - 30px)
    .tags-container
      .tag
        span
          font-size: 12px


.article-content
  position: relative
  margin-top: -165px
  .img-box, .img-text-box
    position: relative
    min-height: 400px
    overflow: hidden
  .img-text-box
    padding: 40px
    background-color: $green-color
    p
      color: white
  p

    padding-bottom: 20px

  h1, h2, h3
    padding: 30px 0 20px

  ul
    li
      padding-bottom: 20px
      position: relative
      margin-left: 15px
      &:before
        content: ""
        height: 5px
        width: 5px
        background-color: $green-color
        border-radius: 50%
        position: absolute
        top: 8px
        left: -10px
        display: block

  blockquote
    padding: 100px
    p
      color: $green-color
    +breakpoint(small only)
      padding: 75px 0

  .img-container
    margin-bottom: 20px

  .button
    +x-align
    position: relative
    margin: 50px 0 100px
    background-color: $green-color
    border: none
    svg
      width: 60px
      height: 100%
      padding: 17px
      background-color: $blueGrey50
      position: absolute
      right: 0
      top: 0
      bottom: 0
      +translate(100%,0)

    &:hover
      span
        color: white


  +breakpoint(large down)
    margin-top: 0
  +breakpoint(small only)
    .head-banner-title
      +translate(0,25%)
    .button
      width: calc(223px + 46px)
      svg
        +translate(0,0)
        width: 50px
        padding: 12px
        right: -1px



.one-contact-box
  // margin: 20px 0
  margin-bottom: 40px
  &.dib
    vertical-align: top
    margin-right: 50px
  .title, p, a
    margin-right: 20px
  .title
    color: $green-color
    font-weight: 600
    font-size: 14px
    svg
      width: 18px
      fill: $green-color
      vertical-align: sub
  p, .tel
    color: white
    font-size: 20px
    font-weight: 300
    margin-top: 15px
    line-height: 1
    display: block
    border-bottom: 1px solid transparent
    span
      color: $green-color

  a
    color: $green-color
    border-bottom: 1px solid $green-color
    text-transform: uppercase
    font-size: 10px
    margin-bottom: 20px

  a, p, .tel
    margin-left: 20px
  .socials
    border-bottom: none
    margin: 15px 0 0 20px
    display: inline-block
    svg
      width: 20px
      height: 20px
      fill: white



.error-page
  height: 100vh
  position: relative
  +clearfix
  .img-box
    position: relative
    width: 70%
    height: 100%
    .img-bg
      background-position: right
  .text-block
    width: 30%
    background-color: $dark-color
    height: 100%
    // float: right
    padding: 80px
    position: relative
    +breakpoint(xxlarge up)
      padding: 120px
    .inner
      +y-align
      .head-title
        color: $green-color
        font-size: 48px
        font-weight: 800

      p
        color: white
        padding: 20px 0 30px

  +breakpoint(medium down)
    .img-box
      width: 100%
      height: 50%
      display: block
    .text-block
      width: 100%
      height: 50%
      display: block
      .inner
        position: relative


.one-box-nav
  background-color: $green-color
  padding: 30px
  margin-bottom: 20px
  width: 100%
  height: 140px
  position: relative
  display: block
  overflow: hidden
  +transition(.3s)
  .icon
    svg
      width: 27px
      height: 27px
      fill: white

  .title
    font-size: 18px
    font-weight: 600
    color: white
    position: absolute
    left: 30px
    bottom: 30px
    width: 190px

  .hover-arrow
    position: absolute
    right: 30px
    bottom: 30px
    opacity: 0
    +translate(-100%,0)
    +transition(.1s)
    svg
      fill: white
      width: 25px
      height: 25px

  &:hover
    background-color: $blue-color
    .hover-arrow
      opacity: 1
      +translate(0,0)
      +transition(.5s)
