.popup-advice, .be-dealer-popup
	+xy-align
	position: fixed
	width: 500px
	max-width: 95%
	z-index: 350
	padding: 70px
	background-color: white
	pointer-events: none
	opacity: 0
	z-index: 11111111111111
	+transition(.3s)
	&.visible
		opacity: 1
		pointer-events: initial   

	.close-popup
		position: absolute
		top: 20px
		right: 20px
		width: 20px
		height: 20px
		cursor: pointer
		svg
			width: 100%
			height: 100%
			fill: $green-color
			+transition(.3s)
		&:hover
			svg
				+rotate(180deg)

	.success
		opacity: 0
		pointer-events: none
		+transition(.3s)
		+fullsize
		padding: 70px
		text-align: center
		background-color: white
		svg
			width: 100px
			height: 100px
			margin-bottom: 50px
			*
				fill: $green-color
		&.visible
			opacity: 1
			pointer-events: initial

	.button
		margin-top: 30px

	
	.head-title
		font-size: 24px
		font-weight: 600
	.sub-title
		font-weight: 300
		color: $blueGrey300
		font-size: 14px
		margin: 10px 0 30px

	+breakpoint(small only)
		padding: 20px
		.head-title
			font-size: 18px
		.button
			width: calc(100% + 40px)
			position: relative
			bottom: -20px
			left: -20px
			right: -20px


.one-item-3d
	position: absolute
	width: 315px
	max-width: 95%
	// height: 190px
	z-index: 350
	padding: 30px
	background-color: $blueGrey50
	pointer-events: none
	opacity: 0
	+transition(.3s)
	box-shadow: 0px 5px 35px rgba(0, 0, 0, 0.2)
	&.visible
		opacity: 1
		pointer-events: initial   
	&.one
		top: 35px
		left: -180px
	&.two
		top: 100px
		left: -24px
	&.three
		top: 289px
		left: -203px
	&.fore
		bottom: -26px
		left: -95px
	&.five
		bottom: -149px
		left: -140px
	&.six
		top: 100px
		left: -105px
	&.seven
		top: 200px
		right: -105px
	.img-bg
		background-position: right
		background-size: contain
		left: 185px

	.inner-popup
		// max-width: 150px
		max-height: 140px
		overflow: hidden
		.title
			padding-bottom: 10px
			font-weight: 700
		p
			font-size: 12px

.prom
	.one-item-3d
		&.two
			left: 165px
		
		&.three
			top: 90px
			left: -100px
		&.fore
			left: 95px
		&.five
			bottom: 49px
			left: -140px
		&.six
			left: initial
			right: 10px