doctype html
html
  head
    meta[content="text/html; charset=UTF-8" http-equiv="Content-Type"]
  body
    h3
      | Alpine
    h5
      | Ваша заявка на консультацію прийнята, наш менеджер найближчим часо звяжиться з вами
