.about-us-page
  .banner-wrap
    .content-banner.about-us
      .row
        .columns.large-8
          .info-banner
            .head-title-box.single-tween-item
              .green-line
              .head-title Alpiness
              .sub-title = @about.main_title

            p.single-tween-item = @about.main_description
            a.play-box.js-video-button.green data-video-id="#{@main.video_url}" href="#"
              .play-button
                = inline_svg "icons/play_btn.svg"
              span.title = t("main-banner.video-btn")

          / a.sroll-link.title href="" детальніше

        .columns.large-2.end.stagger-tween
          a.one-box-nav.stagger-tween-item href=""
            .figure = @about.projects
            .title
              = raw t("done-projects")


          a.one-box-nav.stagger-tween-item href=""
            .figure = @about.years
            .title = raw t("years-on-market")


          a.one-box-nav.stagger-tween-item href=""
            .figure = @about.workers
            .title
              = raw t("high-proffesionals")

    .img-bg style="background-image: url(#{asset_path('photos/header.jpg')})"


.our-mission-wrap.stagger-tween
  .row
    .columns
      .head-title-box.stagger-tween-item
        .green-line
        .head-title = raw t("our-mission")

  .row
    .columns.medium-6
      p.stagger-tween-item = @about.second_description
    .columns.medium-6.xlarge-4
      blockquote.stagger-tween-item
        p = @about.second_frase


.team-wrap.content-tween
  .bg-color.content-tween-left
  .row
    .columns
      .head-title-box.title-anim
        .green-line
        .head-title.white = raw t("our-team")

      p.text-anim = @about.third_description

  .img-bg.content-tween-right style="background-image: url(#{@about.first_image})"


.certificates-wrap.tl-anim
  .row
    .columns
      .head-title-box.one-anim
        .green-line
        .head-title = t("sertificate")

      .buttons-square-box#customNav.two-anim
        .owl-nav.desktop
          .prev-btn#nav-next.customPrevBtn.dark = inline_svg "icons/arrow_left.svg"
          .next-btn#nav-back.customNextBtn.dark = inline_svg "icons/arrow_right.svg"

      ul.owl-carousel.owl-theme.animated_thumbnails
        - @sertificate.each do |s|
          li.lg_object
            a.one-box-container.sm-translate.three-anims href=asset_path"#{s.image}"
              .img-bg
                img src="#{s.image}"
              .hover-blue-patern

              .info-genegal-box
                .info-box
                  .title = s.description
                  .date = s.date.strftime("%m.%d.%Y")


              .hover-block.hover-blue-patern



.dealer-wrap.content-tween
  .bg-color.content-tween-left
  .row
    .columns
      .content-box
        .head-title-box.title-anim
          .green-line
          .head-title.white = raw t("dealer-info")


        p.text-anim = @about.diller_description

        .button.popup-btn.btn-anim data-btn-attr="dealer-form"
          span = t("be-dealer")
          = inline_svg "icons/arrow_right.svg"

  .img-bg.content-tween-right style="background-image: url(#{@about.second_image})"


.our-clients-wrap.stagger-tween
  .row
    .columns
      .head-title-box.stagger-tween-item
        .green-line
        .head-title = raw t ("our-clients")

  .row.columns-left
    - @review.each do |r|
      .columns.large-3.medium-4.small-6.stagger-tween-item
        .logo-bg
          .img-bg
            img src="#{r.logo}"
    .columns.large-3.medium-4.small-.animated_thumbnails6.stagger-tween-item
      .logo-bg
        .content
          .title = @about.projects
          .sub-title = raw t("private-houses")

.projects-info.stagger-tween.content-tween
  .row.columns-left
    .large-3.columns
      .head-title-box.stagger-tween-item
        .green-line
        .head-title = t("Designers")
    .large-6.columns
      .text-container.stagger-tween-item
        .title = @about.projects_title
        p  = @about.projects_description

        .img-bg.content-tween-right style="background-image: url(#{@about.third_image})"
