.article-blog-wrap
  .head-banner-container
    .bg-banner-grey

    .row
      .columns
        .head-banner-title
          .head-title-box
            .green-line
            .head-title.green = @article.title
            .date = @article.date

          .tags-container
            - if @article.pool == true
              .tag
                span = t("blog-page.tabs.pools")
            - elsif @article.clean == true
              .tag
                span = t("blog-page.tabs.treatment-plant")
            - elsif @article.nasos == true
              .tag
                span = t("blog-page.tabs.pumping-stations")
            - else @article.warm_nasos == true
              .tag
                span = t("blog-page.tabs.heat-pumps")

  .article-content
    .row.collapse
      .columns.medium-6
        .img-box
          .img-bg style="background-image: url(#{@article.main_image})"
      .columns.medium-6
        .img-text-box
          p= @article.main_description
    .row
      .large-8.columns.large-centered

        h1 = @article.second_title

        p= @article.second_title
        h2= @article.third_title

        p= @article.third_description
        blockquote
          p= @article.frase


        .img-container
          .img-bg style="background-image: url(#{@article.second_image})"

        h3 =@article.fourth_title

        p=@article.fourth_description

        .button
          span
            =raw t("share-freinds")
          = inline_svg "icons/share.svg"

.carousel-wrap.white
  .bg-color
  .row
    .columns
      .head-title-box
        .green-line
        .head-title
          = raw t("recomended-articles")

      .buttons-square-box#customNav
        .owl-nav.desktop
          .prev-btn#nav-next.dark.customPrevBtn = inline_svg "icons/arrow_left.svg"
          .next-btn#nav-back.dark.customNextBtn = inline_svg "icons/arrow_right.svg"
        a.button.dark href=blog_page_path
          span = raw t("show-all")
          = inline_svg "icons/arrow_right.svg"
  ul.owl-carousel.owl-theme
    - @articles.each do |a|
      li
        a.one-box-container.square-box href=article_blog_page_path(a)
          .img-bg style="background-image: url(#{a.main_image})"
          - if a.pool == true
            .filter-tag = t("blog-page.tabs.pools")
          - elsif a.clean == true
            .filter-tag = t("blog-page.tabs.treatment-plant")
          - elsif a.nasos == true
            .filter-tag = t("blog-page.tabs.pumping-stations")
          - else a.warm_nasos == true
            .filter-tag = t("blog-page.tabs.heat-pumps")
          .hover-blue-patern
          .info-genegal-box
            .info-box
              .title = a.title
              p=a.main_description

          .date-box =a.date
