.blog-page-warp

  .head-banner-container
    .bg-banner-grey

    .head-filter-titles-box
      .head-title = t("blog-page.head-title")
      .sub-title = t("blog-page.sub-title")
      .button-filter-box
        .filter.button.small-grey-btn.one-filter-btn.active data-filter="all"
          span = t("blog-page.tabs.all")
        .filter.button.small-grey-btn.one-filter-btn data-filter=".pool"
          span = t("blog-page.tabs.pools")
        .filter.button.small-grey-btn.one-filter-btn data-filter=".treatment-plant"
          span = t("blog-page.tabs.treatment-plant")
        .filter.button.small-grey-btn.one-filter-btn data-filter=".pumping-stations"
          span = t("blog-page.tabs.pumping-stations")
        .filter.button.small-grey-btn.one-filter-btn data-filter=".heat-pumps"
          span = t("blog-page.tabs.heat-pumps")

.all-filters-elements
  .row.columns-left#filter-box
   - @articles.each do |a|
    .medium-6.columns.mix class=("pool" if a.pool == true)  class=("treatment-plant" if a.clean == true)  class=("pumping-stations" if a.nasos == true)  class=("heat-pumps" if a.warm_nasos == true)
      a.one-box-container.filtes-elements href=article_blog_page_path(a)
        .img-bg style="background-image: url(#{a.main_image})"
        - if a.pool == true
          .filter-tag = t("blog-page.tabs.pools")
        - elsif a.clean == true
          .filter-tag = t("blog-page.tabs.treatment-plant")
        - elsif a.nasos == true
          .filter-tag = t("blog-page.tabs.pumping-stations")
        - else a.warm_nasos == true
          .filter-tag = t("blog-page.tabs.heat-pumps")
        .hover-blue-patern
        .info-genegal-box
          .info-box
            .title = a.title
            p= a.main_description
        .date-box = a.date
