.catalog-page-wrap
  .banner-box
    .img-bg style="background-image: url(#{asset_path('photos/background_new.png')})"
    .row
      .columns
        .head-banner-title
          .head-title-box.inner-page
            .head-title.white = @catalog.title

  .catalog-types.tl-anim
    .row
      .large-7.columns
        a.type-block.three-anims href="/pumps"
          .img-bg style="background-image: url(#{asset_path('photos/nasos.png')})"
          .hover-blue-patern
          .content-box
            .head-title = t("header.products.pumping_stations")
            .sub-title.desktop = @catalog.nasos_description
      .large-5.columns
        a.type-block.green.three-anims href="/drainage"
          .img-bg style="background-image: url(#{asset_path('photos/kran.png')})"
          .hover-blue-patern
          .content-box
            .head-title = t("header.products.drainage")
            .sub-title.desktop  = @catalog.vodovidvid_description

      .large-5.columns
        a.type-block.green.three-anims href="/pools"
          .img-bg style="background-image: url(#{asset_path('photos/pool.png')})"
          .hover-blue-patern
          .content-box
            .head-title = t("header.products.pools")
            .sub-title.desktop = @catalog.pool_description
      .large-7.columns
        a.type-block.last.three-anims href="/heatpumps"
          .img-bg style="background-image: url(#{asset_path('photos/tepl_nasos.png')})"
          .hover-blue-patern
          .content-box
            .head-title = t("header.products.heat_pumps")
            .sub-title.desktop  = @catalog.warm_description
