.contact-prage
  .head-banner-container
    .bg-banner-grey
    .head-filter-titles-box.tab_buttons_wrapper
      .head-title = t("contact-page.head-title")
      .sub-title = t("contact-page.sub-title")
      .button-filter-box.tab-buttons
        .tab-button.button.small-grey-btn.map-location.one-filter-btn.active data-lat="#{@contactmain.lat}" data-lon="#{@contactmain.lon}"
          span = t("contact-page.tabs.main")
        .tab-button.button.small-grey-btn.map-location.one-filter-btn data-lat="#{@contactagency.lat}" data-lon="#{@contactagency.lon}"
          span = t("contact-page.tabs.showroom")
        .tab-button.button.small-grey-btn.map-location.one-filter-btn data-lat="#{@contactshowroom.lat}" data-lon="#{@contactshowroom.lon}"
          span = t("contact-page.tabs.agency")

  .row.collapse
    .contact-content-box.tab-content-wrapper
      .content-selection.tab-content.active
        .left-content-part
          .one-contact-box
            .title
              = inline_svg "icons/location_contacts.svg"
              = t("address")
            p = @contactmain.adress

          .one-contact-box
            .title
              = inline_svg "icons/phone.svg"
              = t("phone")
            a.tel href="tel:+38 (067) 980 22 31"
              span
                |+
              |38
              span
                |(
              |067
              span
                |) 
              | 980 22 31
            a.tel href="tel:+38 (032) 244 44 31"
              span
                |+
              |38
              span
                |(
              |032
              span
                |) 
              | 244 44 31

          .one-contact-box
            .title
              = inline_svg "icons/mail.svg"
              = t("email")
            - if @contactmain.first_email?
              p = @contactmain.first_email
            - if @contactmain.second_email?
              p = @contactmain.second_email
            - if @contactmain.third_email?
              p = @contactmain.third_email
          .one-contact-box
            .title
              = inline_svg "icons/phone.svg"
              = t("socials")
            a.socials href="" = inline_svg "icons/fb_icon.svg"
            a.socials href="" = inline_svg "icons/insta_icon.svg"

        / .medium-6.columns
        .right-content-part
          .head-title = t("contact-page.form-title")
          .sub-title = t("contact-page.form-sub-title")

          = simple_form_for(Consultation.new,url: "/consultation", html: {method: :post}) do |f|
            .input-field
              = f.input_field :name
              label = t("contact_form.order-consultation-name")
              span.bar
            .input-field
              = f.input_field :phone
              label = t("contact_form.order-consultation-phone")
              span.bar
            .input-field
              = f.input_field :email
              label = t("contact_form.order-consultation-email")
              span.bar

            button.button.with-shadow type="submit"
              span == t("contact-page.send")
              = inline_svg "icons/arrow_right.svg"

      .content-selection.tab-content
        .left-content-part
          .one-contact-box
            .title
              = inline_svg "icons/location_contacts.svg"
              = t("address")
            p = @contactshowroom.adress

          .one-contact-box
            .title
              = inline_svg "icons/phone.svg"
              = t("phone")
            a.tel href="tel:+38 (067) 980 22 31"
              span
                |+
              |38
              span
                |(
              |067
              span
                |) 
              | 980 22 31

            a.tel href="tel:+38 (032) 244 44 31"
              span
                |+
              |38
              span
                |(
              |032
              span
                |) 
              | 244 44 31

          .one-contact-box
            .title
              = inline_svg "icons/mail.svg"
              = t("email")
            - if @contactshowroom.first_email?
              p = @contactshowroom.first_email
            - if @contactshowroom.second_email?
              p = @contactshowroom.second_email
            - if @contactshowroom.third_email?
              p = @contactshowroom.third_email
          .one-contact-box
            .title
              = inline_svg "icons/phone.svg"
              = t("socials")
            a.socials href="" = inline_svg "icons/fb_icon.svg"
            a.socials href="" = inline_svg "icons/insta_icon.svg"

        / .medium-6.columns
        .right-content-part
          .head-title = t("contact-page.form-title")
          .sub-title = t("contact-page.form-sub-title")

          = simple_form_for(Consultation.new,url: "/consultation", html: {method: :post}) do |f|
            .input-field
              = f.input_field :name
              label = t("contact_form.order-consultation-name")
              span.bar
            .input-field
              = f.input_field :phone
              label = t("contact_form.order-consultation-phone")
              span.bar
            .input-field
              = f.input_field :email
              label = t("contact_form.order-consultation-email")
              span.bar

            button.button.with-shadow type="submit"
              span = t("contact-page.send")
              = inline_svg "icons/arrow_right.svg"

      .content-selection.tab-content
        .left-content-part
          .one-contact-box
            .title
              = inline_svg "icons/location_contacts.svg"
              = t("address")
            p =@contactagency.adress
            p м.Луцьк 
            p м.Тернопіль
            p м.Рівне 
            p м.Ужгород

          .one-contact-box
            .title
              = inline_svg "icons/phone.svg"
              = t("phone")
            a.tel href="tel:+38 (067) 670 81 59"
              span
                |+
              |38
              span
                |(
              |067
              span
                |)
              | 670 81 59 
              span
                |(
              | Ivano-Frankivsk
              span
                |)
                
            a.tel href="tel:+38 (067) 670 81 65"
              span
                |+
              |38
              span
                |(
              |067
              span
                |)
              | 670 81 65 
              span
                |(
              |Lutsk
              span
                |)

            a.tel href="tel:+38 (067) 670 81 50"
              span
                |+
              |38
              span
                |(
              |067
              span
                |)
              | 670 81 50 
              span
                |(
              |Ternopil
              span
                |)
            a.tel href="tel:+38 (067) 670 81 61"
              span
                |+
              |38
              span
                |(
              |067
              span
                |)
              | 670 81 61 
              span
                |(
              |Rivne)
              span
                |)

            a.tel href="tel:+38 (067) 670 81 23"
              span
                |+
              |38
              span
                |(
              |067
              span
                |)
              | 670 81 23 
              span
                |(
              |Uzhhorod
              span
                |)


          .one-contact-box
            .title
              = inline_svg "icons/mail.svg"
              = t("email")
            - if @contactagency.first_email?
              p = @contactagency.first_email
            - if @contactagency.second_email?
              p = @contactagency.second_email
            - if @contactagency.third_email?
              p = @contactagency.third_email

          .one-contact-box
            .title
              = inline_svg "icons/phone.svg"
              = t("socials")
            a.socials href="" = inline_svg "icons/fb_icon.svg"
            a.socials href="" = inline_svg "icons/insta_icon.svg"

        / .medium-6.columns
        .right-content-part
          .head-title = t("contact-page.form-title")
          .sub-title = t("contact-page.form-sub-title")

          = simple_form_for(Consultation.new,url: "/consultation", html: {method: :post}) do |f|
            .input-field
              = f.input_field :name
              label = t("contact_form.order-consultation-name")
              span.bar
            .input-field
              = f.input_field :phone
              label = t("contact_form.order-consultation-phone")
              span.bar
            .input-field
              = f.input_field :email
              label = t("contact_form.order-consultation-email")
              span.bar

            button.button.with-shadow type="submit"
              span = t("contact-page.send")
              = inline_svg "icons/arrow_right.svg"
  .map-wrap
    .map-container
      #googleMap
