.one-product-page
	.banner-wrap.bg-banner-grey.buttons-square-box
		.prev-btn.white = inline_svg "icons/arrow_left.svg"
		.next-btn.white = inline_svg "icons/arrow_right.svg"
		.img-bg style="background-image: url(#{asset_path('photos/nas-st.png')})"
		.row
			.columns
				.banner-inner
					.head-title-box
						.green-line
						.head-title
							= t("header.products.heat_pumps")

	.about-product.content-tween
		.row
			.large-8.columns.large-centered
				.title.title-anim = @one_catalog_value.title
				p.text-anim = @one_catalog_value.title_description

				.button.popup-btn.btn-anim data-btn-attr="order-form"
					span = t("consultation-btn")
					= inline_svg "icons/phone.svg"

	.principles-box.content-tween
		.row
			.large-4.columns
				.head-title-box.title-anim
					.green-line
					.head-title
						| Принципи
						br
						| роботи
			.xlarge-8.columns
				.inner-text.bg-banner-grey.content-tween-right
					= @one_catalog_value.principes_description
	.benefits-wrap.stagger-tween.content-tween
		.row
			.large-6.columns
				.tab_buttons_wrapper
					.tabs-box.tab-buttons
						.one-tab-box.tab-button.active.stagger-tween-item
							= inline_svg "icons/ecology.svg"
							.title = @one_catalog_value.first_advantage_title
							.figure 01
						.one-tab-box.tab-button.stagger-tween-item
							= inline_svg "icons/box.svg"
							.title = @one_catalog_value.second_advantage_title
							.figure 02
						.one-tab-box.tab-button.stagger-tween-item
							= inline_svg "icons/pig.svg"
							.title = @one_catalog_value.third_advantage_title
							.figure 03
						.one-tab-box.tab-button.stagger-tween-item
							= inline_svg "icons/easy.svg"
							.title = @one_catalog_value.fourth_advantage_title
							.figure 04

			.xlarge-5.large-6.columns
				.head-title-box.title-anim
					.green-line
					.head-title Переваги використання
				.content-selection-wrap.tab-content-wrapper
					.one-conntent-box.content-selection.active
						.title.title-anim = @one_catalog_value.first_advantage_title
						p.text-anim  = @one_catalog_value.first_advantage
						.bg-figure 01

					.one-conntent-box.content-selection
						.title.title-anim = @one_catalog_value.second_advantage_title
						p.text-anim = @one_catalog_value.second_advantage
						.bg-figure 02

					.one-conntent-box.content-selection
						.title.title-anim = @one_catalog_value.third_advantage_title
						p.text-anim = @one_catalog_value.third_advantage
						.bg-figure 03

					.one-conntent-box.content-selection
						.title.title-anim = @one_catalog_value.fourth_advantage_title
						p.text-anim = @one_catalog_value.fourth_advantage
						.bg-figure 04


	.consultation-wrap.content-tween
		.row
			.medium-6.columns.medium-centered
				.head-box
					.head-title.title-anim
						= @one_catalog_value.consultation_title

					p.text-anim = @one_catalog_value.consultation_description

		.img-container
			.img-bg style="background-image: url(#{asset_path('photos/call_bg.png')})"
			= render "popup_advice"

	.catalog-types.mn.tl-anim
		.head-title-center інші товари
		.row
			.large-4.columns
				a.type-block.one-catalog.three-anims href=pumps_path
					.img-bg style="background-image: url(#{asset_path('photos/nasos.png')})"
					.hover-blue-patern
					.content-box
						.head-title = t("header.products.pumping_stations")
			.large-4.columns
				a.type-block.green.one-catalog.three-anims href=drainage_path
					.img-bg style="background-image: url(#{asset_path('photos/kran.png')})"
					.hover-blue-patern
					.content-box
						.head-title = t("header.products.drainage")
			.large-4.columns
				a.type-block.green.one-catalog.three-anims href=pools_path
					.img-bg style="background-image: url(#{asset_path('photos/pool.png')})"
					.hover-blue-patern
					.content-box
						.head-title = t("header.products.pools")
