= render "main_banner_video"

.about-company-wrap.pb.content-tween
  / .bg-img style="background-image: url(#{asset_path('photos/litachok_bg.png')})"
  .row
    .columns
      .head-title-box.title-anim
        .green-line
        .head-title
          = raw t("about-company")


      p =@main.about_description

      a.btn.btn-anim href=about_us_path
        = t("details-btn")
        = inline_svg "icons/arrow_right.svg"



      .head-title-box.long-title-sm.single-tween-item
        .green-line
        .head-title
          = raw t("principles")


      .tab_buttons_wrapper
        .tabs-box.tab-buttons
          .tab-button.title.active
            = t("principles-tabs.one-tab")
          .tab-button.title
            = t("principles-tabs.second-tab")
      .content-selection-wrap.tab-content-wrapper
        .content-selection.tab-content.active
          .row
            .columns.large-10.xlarge-8
              .h3 =@main.appointment_title
              = raw @main.appointment_description


          .img-box style="background-image: url(#{@main.appointment_image})"

        .content-selection.tab-content
          .row
            .columns.large-10.xlarge-8
              .h3.one-anim =@main.action_title
              p.four-anim  = raw @main.action_description
          .img-box style="background-image: url(#{@main.action_image})"


.carousel-wrap.content-tween
  .bg-color.content-tween-right
  .row
    .columns
      .head-title-box.title-anim
        .green-line
        .head-title.white
          = raw t ("our-works")

      .sub-title.desktop =@main.our_works_description

      .buttons-square-box#customNav
        .owl-nav.desktop
          .prev-btn#nav-next.customPrevBtn = inline_svg "icons/arrow_left.svg"
          .next-btn#nav-back.customNextBtn = inline_svg "icons/arrow_right.svg"
        a.button href=our_projekts_path
          span = t("see-all-btn")
          = inline_svg "icons/arrow_right.svg"
  ul.owl-carousel.owl-theme.stagger-tween
    - @portfolios.each do |i|
      li.gallery
        - image = PortfolioPhoto.where(portfolio_id: i.id).first
        a.one-box-container.stagger-tween-item href=asset_path"#{image.fimage}"
          img src=asset_path"#{image.fimage}"
          .img-bg style="background-image: url(#{image.fimage})"
          .hover-blue-patern
          .info-genegal-box
            .info-box
              .title
                = raw i.title
              p
                = raw i.description

            .bottom-info
              span.photos #{PortfolioPhoto.where(portfolio_id: i.id).count} фотографії
              = inline_svg "icons/home.svg"
          -images = PortfolioPhoto.where(portfolio_id: i.id)
        - images.drop(1).each do |s|
          a href=asset_path"#{s.fimage}"
            img src=asset_path"#{s.fimage}"

.our-clients-wrap.pb.content-tween
  .row
    .columns
      .head-title-box.title-anim
        .green-line
        .head-title
          = raw t ("our-clients")


  .slider-box
    .row
      .buttons-square-box
        .prev-btn.dark = inline_svg "icons/arrow_left.svg"
        .next-btn.dark = inline_svg "icons/arrow_right.svg"

      ul.clients-slider
        - @review.each do |review|
          li
            .columns.large-6
              .left-part
                img src="#{review.logo}"
                .logo-info.dib
                  .name = review.title
                  .sub-title = review.position
                p.text-anim = review.description


            .columns.large-5
              .img-container.content-tween-right
                .img-bg style="background-image: url(#{review.image})"


.contact-us-wrap.pb.content-tween
  .bg-color.content-tween-left
  .row
    .columns.btn-anim
      .head-title-box
        .green-line
        .head-title.white
           = raw t ("our-contacts")

      .one-contact-box
        .title
          = inline_svg "icons/location_contacts.svg"
          = t("address")
        p м.Львів, вул.Лукяновича, 11
        a href=""
          = t("see-on-map")

      .one-contact-box.dib.desktop
        .title
          = inline_svg "icons/mail.svg"
          = t("email")
        p alpin.zahid@gmail.com

      .one-contact-box.dib
        .title
          = inline_svg "icons/phone.svg"
          = t("phone")
        a.tel href="tel:+38 (067 )980 22 31"
          span
            |+
          | 38&nbsp
          span
            | (
          |067
          span
            |)&nbsp
          | 980 22 31
        a.tel href="tel:+38 (067 )980 22 31"
          span
            |+
          |38&nbsp
          span
            |(
          |063
          span
            |)&nbsp
          | 182 27 51

      .one-contact-box.desktop
        .title
          = inline_svg "icons/location_contacts.svg"
          = t("exhibition")
        p с.Солонка, біля євростадіону (кільцева автодорога)
        a href="" = t("see-on-map")

        p м.Івано-Франківсь, вул.Шевченка, 19а
        a href="" = t("see-on-map")

      .button.popup-btn data-btn-attr="order-form"
        span = t("consultation-btn")
        = inline_svg "icons/phone.svg"
      a.button href=""
        span = t("representative-btn")
        = inline_svg "icons/arrow_right.svg"

  .map-container.content-tween-right
    #googleMap

/ .test data-lat="14.167559" data-lon="11.312416" link1
/ .test data-lat="25.167559" data-lon="21.812416" link2
/ .test data-lat="6.167559" data-lon="11.612416" link3
