.our-projekts-page

  .head-banner-container
    .bg-banner-grey

    .head-filter-titles-box
      .head-title = t("portfolio-page.head-title")
      .sub-title = t("portfolio-page.sub-title")
      .button-filter-box
        .filter.button.small-grey-btn.one-filter-btn.active data-filter="all"
          span = t("portfolio-page.tabs.all")
        .filter.button.small-grey-btn.one-filter-btn data-filter=".category-a"
          = inline_svg "icons/home.svg"
          span = t("portfolio-page.tabs.private")
        .filter.button.small-grey-btn.one-filter-btn data-filter=".category-b"
          = inline_svg "icons/business.svg"
          span = t("portfolio-page.tabs.for_business")
        .filter.button.small-grey-btn.one-filter-btn data-filter=".category-c"
          = inline_svg "icons/industrial.svg"
          span = t("portfolio-page.tabs.for_industrial")

.all-filters-elements
  .row.columns-left#filter-box
    -@portfolios.each do |p|
      - if p.categories == "Приватні"
        .medium-6.large-4.columns.category-a.mix.gallery
          - image = PortfolioPhoto.where(portfolio_id: p.id).first
          a.one-box-container.projekt-filters href=asset_path"#{image.fimage}"
            img src=asset_path"#{image.fimage}"
            .img-bg style="background-image: url(#{image.fimage})"
            .hover-blue-patern
            .info-genegal-box
              .info-box
                .title = p.title
                p = p.description
              .bottom-info
                span.photos #{PortfolioPhoto.where(portfolio_id: p.id).count} фотографії
                = inline_svg "icons/home.svg"
            -images = PortfolioPhoto.where(portfolio_id: p.id)
          - images.drop(1).each do |s|
            a href=asset_path"#{s.fimage}"
              img src=asset_path"#{s.fimage}"

      - if p.categories == "Для Бізнесу"
        .medium-6.large-4.columns.category-b.mix.gallery
          - image = PortfolioPhoto.where(portfolio_id: p.id).first
          a.one-box-container.projekt-filters href=asset_path"#{image.fimage}"
            img src=asset_path"#{image.fimage}"
            .img-bg style="background-image: url(#{image.fimage})"
            .hover-blue-patern
            .info-genegal-box
              .info-box
                .title = p.title
                p = p.description
              .bottom-info
                span.photos #{PortfolioPhoto.where(portfolio_id: p.id).count} фотографії
                = inline_svg "icons/business.svg"
            -images = PortfolioPhoto.where(portfolio_id: p.id)
          - images.drop(1).each do |s|
            a href=asset_path"#{s.fimage}"
              img src=asset_path"#{s.fimage}"


      - elsif p.categories == "Промислові"
        .medium-6.large-4.columns.category-c.mix.gallery
          - image = PortfolioPhoto.where(portfolio_id: p.id).first
          a.one-box-container.projekt-filters href=asset_path"#{image.fimage}"
            img src=asset_path"#{image.fimage}"
            .img-bg style="background-image: url(#{image.fimage})"
            .hover-blue-patern
            .info-genegal-box
              .info-box
                .title = p.title
                p = p.description
              .bottom-info
                span.photos #{PortfolioPhoto.where(portfolio_id: p.id).count} фотографії
                = inline_svg "icons/industrial.svg"
            -images = PortfolioPhoto.where(portfolio_id: p.id)
          - images.drop(1).each do |s|
            a href=asset_path"#{s.fimage}"
              img src=asset_path"#{s.fimage}"
