.sewerage-one-page.bussiness
	.benner-wrap.trigger1
		.img-bg style="background-image: url(#{asset_path('photos/alpin_hotel_rest_fin_2.jpg')})"
		/ .img-bg.medium style="background-image: url(#{asset_path('photos/ak_2.jpg')})"
		.content-banner
			.row
				.large-6.large-push-6.columns
					.info-banner
						.h1 =t('title_sewerage_page')
						.title =t('buisnes_title')
						.button.popup-btn data-btn-attr="order-form"
							span = t("consultation-btn")
							= inline_svg "icons/phone.svg"

	.about-sewerage-wrap
		.row
			.large-6.columns
				.tab-content-wrapper
					.head-title-box.title-anim
						.green-line
						.head-title
							|#{@main.title}
					p.text-anim  #{@main.title_description}
			.large-5.columns
				.img-box.medium-none
					.img-bg.parallax-img.medium-none style="background-image: url(#{asset_path('photos/2_cafe_2_f.png')})"
					= render "one_3d_item_popup"
					= render "two_3d_item_popup"
					= render "three_3d_item_popup"
					= render "fore_3d_item_popup"
					= render "five_3d_item_popup"
					= render "six_3d_item_popup"
					= render "seven_3d_item_popup"
					.tab-buttons.bussiness.stagger-tween
						.one-item.one.stagger-tween-item.popup-button data-button-attr="one-element-3d"
							= inline_svg "icons/plus.svg"
						.one-item.two.stagger-tween-item.popup-button data-button-attr="two-element-3d"
							= inline_svg "icons/plus.svg"
						.one-item.three.stagger-tween-item.popup-button  data-button-attr="three-element-3d"
							= inline_svg "icons/plus.svg"
						.one-item.fore.stagger-tween-item.popup-button  data-button-attr="fore-element-3d"
							= inline_svg "icons/plus.svg"
						.one-item.five.stagger-tween-item.popup-button  data-button-attr="five-element-3d"
							= inline_svg "icons/plus.svg"
						.one-item.six.stagger-tween-item.popup-button  data-button-attr="six-element-3d"
							= inline_svg "icons/plus.svg"
						.one-item.seven.stagger-tween-item.popup-button  data-button-attr="seven-element-3d"
							= inline_svg "icons/plus.svg"
							
	.benefits-wrap.stagger-tween.content-tween
		.row
			.columns
				.head-title-box.title-anim
					.green-line
					.head-title Переваги використання
		.row
			.large-8.columns
				.tab_buttons_wrapper
					.tabs-box.tab-buttons
						.one-tab-box.blue-bg.tab-button.stagger-tween-item
							= inline_svg "icons/icon_3.svg"
							.title #{@main.first_description_title}
						.one-tab-box.blue-bg.tab-button.stagger-tween-item
							= inline_svg "icons/icon_2.svg"
							.title #{@main.second_description_title}
						.one-tab-box.blue-bg.tab-button.stagger-tween-item
							= inline_svg "icons/icon_4.svg"
							.title #{@main.third_description_title}

						.one-tab-box.blue-bg.tab-button.stagger-tween-item
							= inline_svg "icons/icon_1.svg"
							.title #{@main.fourth_description_title}

						.one-tab-box.blue-bg.tab-button.stagger-tween-item
							= inline_svg "icons/icon_5.svg"
							.title #{@main.fifth_description_title}

						.one-tab-box.blue-bg.tab-button.stagger-tween-item
							= inline_svg "icons/costs.svg"
							.title #{@main.sixth_description_title}


			.large-4.columns
				.img-box.din-med.content-tween-right
					.img-bg style="background-image: url(#{asset_path('photos/prew_2.png')})"


	.how-it-works-wrap.content-tween
		.bg-color.content-tween-right
		.row
			.columns.large-5
				.img-box.content-tween-left.tab_buttons_wrapper
					.img-bg style="background-image: url(#{asset_path('photos/prew_2.png')})"
					.tab-buttons
						.one-item.tab-button.one.active 
							span 01
						.one-item.tab-button.two 
							span 02
						.one-item.tab-button.three 
							span 03
						.one-item.tab-button.fore 
							span 04
						.one-item.tab-button.five 
							span 05
			.columns.large-6
				.head-box
					.head-title-box.title-anim
						.green-line
						.head-title Особливості роботи
					p #{@main.specific_description}
					
				.tab-content-wrapper.content-selection-wrap
					.content-selection.active
						.title.title-anim 
							|01.
							span #{@main.first_specific_title}
						p.text-anim  #{@main.first_specific_description}
					.content-selection
						.title.title-anim 
							|02.
							span #{@main.second_specific_title}
						p.text-anim #{@main.second_specific_description}

					.content-selection
						.title.title-anim 
							|03.
							span #{@main.third_specific_title}
						p.text-anim   #{@main.third_specific_description}

					.content-selection
						.title.title-anim 
							|04.
							span #{@main.fourth_specific_title}
						p.text-anim #{@main.fourth_specific_description}


	.service-wrap.stagger-tween
		.row
			.columns
				.head-box.title-anim
					.head-title обслуговування
					p #{@main.service_description}

		.row
			.large-4.columns
				.content-box.stagger-tween-item
					.title #{@main.first_service_title}
					p #{@main.first_service_description}

			.large-4.columns
				.content-box.stagger-tween-item
					.title  #{@main.second_service_title}
					p  #{@main.second_service_description}
			.large-4.columns
				.content-box.stagger-tween-item

				.title  #{@main.third_service_title}
				p  #{@main.third_service_description}

	.types-sewerage.pb.content-tween
		.row
			.columns
				.head-title-box.title-anim
					.green-line
					.head-title
						|Види скиду
						br
						| очищених стоків
		.slider-box
			.row
				.buttons-square-box
					.prev-btn.dark = inline_svg "icons/arrow_left.svg"
					.next-btn.dark = inline_svg "icons/arrow_right.svg"

				ul.clients-slider
					- @slider.each do |i| 
							li
								.columns.large-6
									.left-part
										.title.title-anim #{i.title}
										p.text-anim #{i.description}


								.columns.large-5
									.img-container.content-tween-right
										.img-bg style="background-image: url(#{asset_path(i.image)})"

.consultation-wrap
	= render "consultation_wrap"


.catalog-types.mn.tl-anim
	.head-title-center дивіться також
	.row
		.large-6.columns
			a.one-nav-box.small.stagger-tween-item href="/sewerage_private"
				.img-bg style="background-image: url(#{asset_path('photos/bussiness.png')})"
				.hover-blue-patern
				.content-box
					= inline_svg "icons/business.svg"
					.text-box
						.head-title Для приватних будинків
						/ p  = @autonomy.buisness_description
		.large-6.columns
			a.one-nav-box.small.stagger-tween-item href="sewerage_prom"
				.img-bg style="background-image: url(#{asset_path('photos/industry.png')})"
				.hover-blue-patern
				.content-box
					= inline_svg "icons/industrial.svg"
					.text-box
						.head-title Для промислових обєктів
						/ p  = @autonomy.prom_description