.sewerage-page
	.banner-box
		.img-bg style="background-image: url(#{asset_path('photos/head_bg.jpg')})"
		.row
		  .columns
		    .head-banner-title
		      .head-title-box.inner-page
		        .head-title.white = @autonomy.title
	.row
		.columns
			.about-sewerage.single-tween-item
				.head-title-box
					.green-line
					.head-title
						|Що таке автономна
						br
						|каналізація?

				p = @autonomy.title_description
.type-of-sewerage
	.row.stagger-tween
		.large-6.columns
			a.one-nav-box.stagger-tween-item href=sewerage_private_path
				.img-bg style="background-image: url(#{asset_path('photos/private.png')})"
				.hover-blue-patern
				.content-box
					= inline_svg "icons/home.svg"
					.text-box
						.head-title Для приватних будинків
						p  = @autonomy.private_description
		.large-6.columns
			a.one-nav-box.small.stagger-tween-item href=sewerage_buisnes_path
				.img-bg style="background-image: url(#{asset_path('photos/bussiness.png')})"
				.hover-blue-patern
				.content-box
					= inline_svg "icons/business.svg"
					.text-box
						.head-title Для бізнесу
						p  = @autonomy.buisness_description

			a.one-nav-box.small.stagger-tween-item href=sewerage_prom_path
				.img-bg style="background-image: url(#{asset_path('photos/industry.png')})"
				.hover-blue-patern
				.content-box
					= inline_svg "icons/industrial.svg"
					.text-box
						.head-title Для промислових об'єктів
						p  = @autonomy.prom_description

.types-sewerage-wrap.content-tween
	.bg-color.content-tween-left
	.row
		.medium-6.columns
			.head-title-box.title-anim
				.green-line
				.head-title.white
					|Види автономної
					br
					|каналізації

			p.text-anim = @autonomy.types_description

	.img-bg.desktop.content-tween-right style="background-image: url(#{@autonomy.image})"

.advantages-box.tl-anim
	.row
		.medium-4.columns
			.head-title-box.one-anim
				.green-line
				.head-title
					|Переваги
		.medium-8.columns
			p.three-anims  = @autonomy.preference_description
.our-services-wrap.stagger-tween
	.head-title.single-tween-item наші послуги
	.row
		.medium-4.columns
			a.one-box-nav.stagger-tween-item href=sewerage_private_path
				.icon = inline_svg "icons/home.svg"
				.title = t("main-banner.box-nav.for_hauses")

				.hover-arrow = inline_svg "icons/arrow_right.svg"

		.medium-4.columns
			a.one-box-nav.stagger-tween-item href=sewerage_buisnes_path
				.icon = inline_svg "icons/business.svg"
				.title = t("main-banner.box-nav.for_business")

				.hover-arrow = inline_svg "icons/arrow_right.svg"

		.medium-4.columns
			a.one-box-nav.stagger-tween-item href=sewerage_prom_path
				.icon = inline_svg "icons/industrial.svg"
				.title = t("main-banner.box-nav.for_industrial")

				.hover-arrow = inline_svg "icons/arrow_right.svg"
