.error-page
	.img-box.dib
		.img-bg style="background-image: url(#{asset_path('photos/404.png')})"

	.text-block.dib
		.inner
			.head-title Помилка!
			p Сторінку не знайдено. Поверніться назад, або перейдіть на головну сторінку сайту.

			a.button href=root_path
				span на головну