.about-us-page
  +breakpoint(small only)
    .banner-wrap
      .img-bg
        display: none
  .banner-wrap
    height: 100vh
    background-color: $blueGrey50
    position: relative
    .content-banner
      position: relative
      z-index: 1
      .one-box-nav
        &:hover
          background-color: $green-color
      .head-title-box
        .green-line
          position: absolute
          height: 90px
        .head-title
          font-size: 55px
          text-transform: uppercase
        .sub-title
          font-size: 25px
          margin-left: 20px
          line-height: 0.8
    .img-bg
      width: 30%
      left: initial

    +breakpoint(xxlarge up)
      .content-banner
        .head-title-box
          .green-line
            height: 110px
          .head-title
            font-size: 70px
            font-weight: 700
          .sub-title
            font-size: 30px

      .img-bg
        width: 30%
    +breakpoint(large only)
      height: 55vh

.our-mission-wrap
  padding: 100px 0
  p
    color: rgba($dark-color, 0.6)

  blockquote
    p
      color: black
      font-style: italic
  +breakpoint(small only)
    padding: 20px 0
    blockquote
      padding: 100px 0 50px

.team-wrap
  overflow-x: hidden
  padding: 100px 0
  position: relative
  p
    color: rgba(white, 0.6)
    width: 300px
    max-width: 100%

  .bg-color
    width: 70%

  .img-bg
    width: 65%
    left: initial
    top: 90px

  +breakpoint(medium only)
    .img-bg
      width: 55%

  +breakpoint(small only)
    padding: 20px 0
    .bg-color
      width: 100%
    .img-bg
      padding-bottom: 50%
      top: 50px
      width: 100%
      position: relative




.certificates-wrap
  .one-box-container
    cursor: pointer
    position: relative
    display: block
    padding-bottom: 150%
    .img-bg
      &:before
        display: none

    .hover-block
      opacity: 0
      .title
      .date
    &:hover
      .hover-block
        opacity: 1



.dealer-wrap
  overflow-x: hidden
  width: 100%
  position: relative
  padding: 140px 0 150px
  margin-top: -65px
  .content-box
    padding-bottom: 100px

  p
    color: rgba(white, 0.6)
    width: 800px
    max-width: 100%
    margin-bottom: 20px

  .button
    margin-top: 50px

  .bg-color
    width: 90%

  .img-bg
    width: 35%
    left: initial
    top: 190px

  +breakpoint(large only)
    p
      width: 600px
  +breakpoint(medium down)
    padding: 50px 0
    .bg-color 
      width: 100%
    .img-bg
      width: 100%
      padding-bottom: 50%
      top: initial
      position: relative
  +breakpoint(small only)
    .button
      width: 100%
      svg
        position: absolute
        top: 15px
        right: 20px


.our-clients-wrap
  padding: 100px 0
  .logo-bg
    border: 1px solid $dark-color
    position: relative
    padding-bottom: 90%
    margin-bottom: 20px
    text-align: center
    .img-bg
      background-size: auto

    .content
      +xy-align
      .title
        font-size: 40px
        color: $green-color
        font-weight: 700
      .sub-title
        font-size: 12px
        color: rgba($dark-color, 0.6)
  +breakpoint(medium down)
    padding: 50px 0
  +breakpoint(small only)
    padding: 0
    .logo-bg
      padding-bottom: 100%

.projects-info
  padding: 100px 0
  overflow: hidden
  .text-container
    position: relative
    padding: 70px 
    background-color: $blueGrey50
    min-height: 400px
    .title
      font-weight: 700
    p
      margin: 30px 0
      font-weight: 300

    .img-bg
      +translate(100%,0)

  +breakpoint(medium down)
    padding: 0 0 100px 0
    .text-container
      margin-bottom: 300px
      .img-bg
        +translate(0,100%)
        padding-bottom: 50%

  +breakpoint(small only)
    .text-container
      padding: 25px