.catalog-page-wrap
  .banner-box
    height: 80vh
    position: relative
    @media only screen and (min-width: 1720px)
      height: 60vh
    +breakpoint(medium only)
      height: 60vh
    +breakpoint(small only)
      height: 70vh



.catalog-types
  margin-top: -250px
  .head-title
    // padding-top: 50px
  &.mn
    margin-top: 0
  .type-block
    padding: 40px
    min-height: 300px
    position: relative
    display: block
    margin-bottom: 30px
    background-color: $blueGrey50
    +transition(.3s)
    &.last
      margin-bottom: 100px
    .img-bg
      background-position: right
      background-size: contain
      z-index: 10
    .content-box
      +y-align
      left: 50px
      .head-title
        font-size: 30px
        font-weight: 700
        margin-bottom: 15px
      .sub-title
        color: $dark-color
        width: 470px

    &.green
      background-color: $green-color
      .content-box
        .head-title
          color: white
        .sub-title
          width: 320px
          color: white

    &.one-catalog
      .content-box
        top: 20%
        left: 20px
        .head-title
          font-size: 18px
    &:hover
      .hover-blue-patern
        opacity: 1
      .content-box
        .head-title
          color: white
        .sub-title
          color: white
    +breakpoint(small only)
      .content-box
        top: 25%
        left: 20px
        .head-title
          font-size: 21px
          width: 100px
          line-height: 1
