.contact-prage
  .contact-content-box
    margin-top: -150px
    position: relative
    z-index: 10
    display: flex
    flex-direction: row
    justify-content: center
    align-items: stretch

    .tab-content
      display: none
      position: relative
      &.active
        display: flex
      .sketchfab-embed-wrapper 
        +fullsize
    .left-content-part, .right-content-part
      padding: 80px
      width: 50%
      position: relative
      +breakpoint(medium only)
        padding: 30px
    .left-content-part
      background-color: $dark-color
      .socials
        +transition(.3s)
        &:hover
          svg
            fill: $green-color

    .right-content-part
      background-color: $green-color
      .head-title
        font-size: 24px
        color: white
        font-weight: 600
      .sub-title
        color: rgba(white, 0.6)
        margin-bottom: 10px

      .input-field
        margin-bottom: 20px

      .button
        margin-top: 30px
        &:hover
          border: 1px solid white
          span
            color: white
          svg
            fill: white

    +breakpoint(small only)
      .tab-content
        &.active
          display: block
      .left-content-part, .right-content-part
        width: 100%
        padding: 20px

  .map-wrap
    position: relative
    padding-bottom: 50%
    margin-top: -100px
    .map-container
      position: absolute
      right: 0
      top: 0
      width: 100%
      height: 100%
      z-index: 1
      #googleMap
        height: 100%
        width: 100%

    +breakpoint(medium down)
      margin-top: 0