@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700,800')


@font-face
	font-family: lg
	src: font_url('lightgallery/lg.eot?n1z373')
	src: font_url('lightgallery/lg.eot?#iefixn1z373') format("embedded-opentype"), font_url('lightgallery/lg.woff?n1z373') format("woff"), font_url('lightgallery/lg.ttf?n1z373') format("truetype"), font_url('lightgallery/lg.svg?n1z373#lg') format("svg")
	font-weight: normal
	font-style: normal