.about-company-wrap
  position: relative
  overflow: hidden
  .bg-img
    position: absolute
    right: -50px
    top: -100px
    background-size: contain
    background-repeat: no-repeat
    // background-position: right
    width: 65%
    height: 100%
    +breakpoint(large down)
      height: 40%
  .head-title-box
    margin-top: 80px

  p
    margin-bottom: 50px
    width: 950px
    max-width: 100%

  .btn
    margin-bottom: 30px

  .tab_buttons_wrapper
    .tab-button
      display: inline-block
      padding: 20px 40px
      font-size: 14px
      cursor: pointer
      font-weight: 600
      +transition(.3s)
      &.active
        color: $green-color
        background-color: $blueGrey50
      &:hover
        color: $green-color
      +breakpoint(small only)
        font-size: 12px
        width: 50%
        text-align: center
        padding: 20px

  .content-selection-wrap
    background-color: $blueGrey50
    .content-selection
      padding: 50px 50px 50px 100px
      display: none
      position: relative
      min-height: 600px
      max-height: 700px
      .h3
        font-size: 26px
        font-weight: 600
        margin-bottom: 40px
      p
        margin-bottom: 20px
        width: 900px
        max-width: 100%

      .img-box
        position: absolute
        right: -20%
        top: 0
        bottom: 0
        width: 40%
        height: 100%
        background-size: cover
        background-position: right
        background-repeat: no-repeat
        +breakpoint(xlarge only)
          right: -10%
        +breakpoint(large down)
          display: none

      +breakpoint(small only)
        padding: 20px
        .h3
          font-size: 22px
          margin-bottom: 25px

      &.active
        display: block


.carousel-wrap
  position: relative
  overflow: hidden
  &.white
    .bg-color
      background-color: $blueGrey50
  .sub-title
    color: rgba(white, 0.6)
    width: 670px
    max-width: 100%
    padding-bottom: 40px

  .buttons-square-box
    position: relative
    .button
      +y-align
      right: 0
      +breakpoint(small only)
        top: 0
        +translate(0,-190%)

  ul.owl-carousel
    left: 14%
    a
      img
        display: none

  .owl-next, .owl-prev
    display: none



.our-clients-wrap, .types-sewerage
  .slider-box
    position: relative
    .buttons-square-box
      position: absolute
      bottom: 0
      left: 0
      +translate(250%,50%)
      +breakpoint(xlarge only)
        +translate(70%,50%)
      +breakpoint(medium down)
        +translate(0,-150%)
        left: initial
        right: 20px
        top: 0
        bottom: initial
      @media only screen and (min-width: 1535px) and (max-width: 1600px)
        +translate(120%,50%)
      @media only screen and (min-width: 1600px) and (max-width: 1750px)
        +translate(135%,50%)
    .left-part
      min-height: 400px
      svg, img
        width: 170px
        max-height: 140px
        vertical-align: middle
        margin-right: 10px
      .logo-info
        .name
          color: $dark-color
          padding-bottom: 10px
          font-weight: 700
          font-size: 18px
        .sub-title
          color: rgba($blueGrey400, 0.4)
          width: 300px
          max-width: 100%

      p
        position: relative
        padding: 20px 0 0 80px
        margin: 20px 0
        max-height: 180px
        overflow: hidden
        font-weight: 600
        &:before
          content: "\201C"
          display: block
          position: absolute
          left: 30px
          top: 30px
          color: $green-color
          font-size: 100px
          line-height: 0.2

      +breakpoint(small only)
        svg
          width: 120px
        .logo-info
          width: calc(100% - 130px)

        p
          padding: 20px 0 0 40px
          &:before
            left: 0

    .img-container
      min-height: 330px
      .img-bg
        background-size: contain
    +breakpoint(medium down)
      .img-container
        display: none

.contact-us-wrap
  // background-color: $dark-color
  overflow-x: hidden
  position: relative
  .bg-color
    height: 100%
  .button
    margin-top: 30px
    margin-right: 20px
    +breakpoint(small only)
      width: 100%
      svg
        +y-align
        right: 20px

  .map-container
    position: absolute
    right: 0
    top: 0
    width: 50%
    height: 100%
    z-index: 100
    #googleMap
      height: 100%
      width: 100%

  +breakpoint(medium down)
    .map-container
      position: relative
      height: 520px
      top: 80px
      width: 100%
