.one-product-page
	.banner-wrap
		height: 44vh
		position: relative
		overflow: hidden
		.prev-btn
			+translate(25%,50%)
			position: absolute
			top: 50%
		.next-btn
			+translate(-25%,50%)
			position: absolute
			top: 50%
			right: 0

		.img-bg
			background-position: right
			background-size: contain
			// right: 200px
			z-index: -1
		.banner-inner
			+translate(0,170%)
		// @media screen and (min-device-width: 1500px) and (min-device-width: 1650px)
		// 	height: 45vh
		
		+breakpoint(xlarge only)
			.prev-btn, .next-btn
				top: 65%
			.banner-inner
				+translate(0,100%)

		@media screen and (min-device-width: 1700px)
			height: 33vh
			.img-bg
				right: 200px
			.prev-btn
				+translate(100%,50%)
			.next-btn
				+translate(-100%,50%)
			.banner-inner
				+translate(0,200%)
		@media screen and (min-device-width: 1700px) and (-webkit-min-device-pixel-ratio: 2)
			.banner-inner
				+translate(0,145%)
		+breakpoint(large only)
			.img-bg
				bottom: -110px
		+breakpoint(large down)
			height: 37vh
			.img-bg
				right: -100px
				bottom: -55px
				
			.banner-inner
				+translate(0,120%)
		+breakpoint(medium down)
			.banner-inner
				+translate(0,80%)

		+breakpoint(small only)
			height: 40vh
			.img-bg
				bottom: -50px
			.prev-btn
				+translate(20%,50%)
			.next-btn
				+translate(-20%,50%)

	.about-product
		padding: 50px 0
		.title
			font-weight: 700
			font-size: 20px
		p
			margin: 20px 0 35px
		.button
			background-color: $green-color
			border: 1px solid $green-color
			&:hover
				span
					color: white
				svg
					fill: white
		
		+breakpoint(small only)
			padding: 0 0 50px 0
	.principles-box
		position: relative
		padding-top: 100px
		overflow: hidden
		&:before
			content: ""
			position: absolute
			width: 400px
			height: 100%
			background-repeat: no-repeat
			z-index: 1
			bottom: 0
			right: 0
			display: block
			background-image: url(#{asset_path('photos/tree.png')})
			background-size: contain
			background-position: right bottom
		.head-title-box
			margin: 0
			+breakpoint(large down)
				margin: 0 0 20px 0
		.inner-text
			position: relative
			padding: 40px
			+breakpoint(xlarge only)
				padding: 40px 350px 40px 40px
			@media only screen and (min-width: 1530px) and (max-width: 1750px)
				padding: 40px 300px 40px 40px
			p
				margin-bottom: 20px
				+breakpoint(xlarge down)
					width: calc(100% - 350px)
				// +breakpoint(large down)
				// 	width: 100%
			&:after
				content: ""
				display: block
				position: absolute
				width: 500px
				max-width: 100%
				height: 100%
				background-color: $blueGrey50
				top: 0
				right: -500px


		.img-bg
			background-size: contain
			top: -40%
			background-position: right

		+breakpoint(large down)
			padding-top: 0

		+breakpoint(medium down)
			&:before
				display: none
		+breakpoint(small only)
			
			.inner-text
				padding: 20px
				p
					width: 100%



	
.catalog-types
	.head-title-center
		text-align: center
		text-transform: uppercase
		font-size: 26px
		font-weight: 800
		margin: 30px 0

	+breakpoint(large down)
		margin-top: 250px
		.head-title
			font-size: 30px

	+breakpoint(small only)
		margin-top: 150px



.benefits-wrap
	padding: 100px 0
	overflow: hidden
	.title
		font-weight: 700
	.tabs-box
		width: 100%
		.one-tab-box
			display: inline-block
			position: relative
			margin: 0 5px 0px 0
			width: calc(50% - 5px)
			cursor: pointer
			height: 200px
			background-color: $blueGrey50
			+transition(.3s)
			svg
				width: 80px
				height: 80px
				position: absolute
				top: 20px
				left: 20px

			.title
				position: absolute
				bottom: 30px
				left: 30px

			.figure
				position: absolute
				right: 30px
				top: 30px
				font-size: 26px
				color: rgba($dark-color, 0.3)

			&:hover, &.active
				background-color: $green-color
				svg
					g, path
						fill: white
				.title, .figure
					color: white
			&.blue-bg
				&:hover, &.active
					background-color: $blue-color
				svg
					left: initial
					right: 20px
	+breakpoint(medium down)
		.tab_buttons_wrapper
			margin-bottom: 100px

	.head-title-box
		margin: 0 0 40px 0

	.content-selection
		position: relative


		.title
			padding-bottom: 20px
			font-size: 20px
		
		.bg-figure
			+xy-align
			font-weight: 800
			font-size: 300px
			left: 31%
			color: rgba($dark-color, 0.05)




.consultation-wrap
	.head-box
		// width: 700px
		// max-width: 100%
		margin: auto
		padding-bottom: 100px
		.head-title
			font-size: 32px
			font-weight: 700
			margin-bottom: 20px
			text-transform: uppercase
			line-height: 1
			text-align: center

	.img-container
		.popup-advice
			position: absolute
			top: -50px
			+translate(-50%,0)
			background-color: $blueGrey50
			opacity: 1
			pointer-events: initial
			width: 600px
			.close-popup
				display: none

	+breakpoint(large down)
		margin-bottom: 130px
	+breakpoint(small only)
		.head-title
			text-align: left
		.img-container
			padding-bottom: 70%