.sewerage-one-page
	overflow: hidden
	&.private
		.benner-wrap
			.img-bg
				left: -700px
				+breakpoint(xlarge only)
					top: -200px
	&.prom
		// .benner-wrap
		// 	.img-bg
		// 		background-size: contain
		// 		top: 60px
		// 		left: 0
		// 		+breakpoint(xlarge only)
		// 			top: -60px
		.about-sewerage-wrap
			.img-box
				width: 100%
				padding-bottom: 90%
				+breakpoint(xlarge only)
					width: 93%
					padding-bottom: 85%
	&.bussiness
		// .benner-wrap
		// 	.img-bg
		// 		background-size: contain
		// 		left: 0
		// 		top: 60px
		// 		+breakpoint(xlarge only)
		// 			top: -60px
		.about-sewerage-wrap
			.img-box
				width: 66%

	.benner-wrap
		position: relative
		height: 100vh
		color: white
		overflow: hidden
		&:before
			content: ""
			position: absolute
			bottom: 0
			left: 0
			right: 0
			height: 200px
			z-index: 1
			background: rgba(255,255,255,0)
			background: -moz-linear-gradient(top, rgba(255,255,255,0) 0%, rgba(255,255,255,1) 100%)
			background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(255,255,255,0)), color-stop(100%, rgba(255,255,255,1)))
			background: -webkit-linear-gradient(top, rgba(255,255,255,0) 0%, rgba(255,255,255,1) 100%)
			background: -o-linear-gradient(top, rgba(255,255,255,0) 0%, rgba(255,255,255,1) 100%)
			background: -ms-linear-gradient(top, rgba(255,255,255,0) 0%, rgba(255,255,255,1) 100%)
			background: linear-gradient(to bottom, rgba(255,255,255,0) 0%, rgba(255,255,255,1) 100%)
			filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#ffffff', GradientType=0 )
			+breakpoint(xlarge down)
				height: 100px
			@media only screen and (min-width: 1530px) and (max-width: 1750px)
				height: 100px
		// .img-bg
		// 	left: -700px

			// +breakpoint(xlarge only)
			// 	top: -120px
		.h1
			padding: 40px 0 10px !important
		.title
			font-weight: 600
			padding-bottom: 40px

		.button
			background-color: $green-color
			border: 1px solid $green-color
			&:hover
				span
					color: white
				svg
					fill: white

		// +breakpoint(small only)
		// 	height: 60vh

	.img-box
		position: relative
		padding-bottom: 140%

	.about-sewerage-wrap
		padding: 150px 0 0 0
		.img-box
			padding-bottom: 100%
			width: 60%
			z-index: 1000
			margin: 0 auto
			
			.tab-buttons
				.one-item
					&.one
						top: 60px
						left: 94px
					&.two
						top: 95px
						right: 55px
					&.three
						top: 300px
						left: 60px
					&.fore
						bottom: 75px
						right: 110px
					&.five
						bottom: 20px
						left: 125px
					&.six
						left: 60px
						top: 200px
					&.seven
						bottom: 225px
						right: 50px
				.popup-button
					+transition(.3s)
					&.active, &:hover
						+rotate(45deg)
						svg
							circle
								fill: $blue-color
				
				&.bussiness
					.one-item
						&.one
							top: 100px
							left: 110px
						&.two
							top: 140px
							right: 110px
						&.three
							top: 360px
							left: 60px
						&.fore
							bottom: 75px
							right: 110px
						&.five
							bottom: 55px
							left: 90px
						&.six
							left: 60px
							top: 180px
						&.seven
							bottom: 280px
							right: 85px
				&.prom
					.one-item
						&.one
							top: 20px
							left: 110px
						&.two
							top: 140px
							right: 110px
						&.three
							top: 135px
							left: 160px
						&.fore
							bottom: 100px
							right: 110px
						&.five
							bottom: 210px
							left: 20px
						&.six
							left: initial
							right: 20px
							top: 130px
						&.seven
							bottom: 275px
							right: 50px
		p
			padding-bottom: 20px
	.types-sewerage
		.buttons-square-box
			+translate(195%,50%)
			+breakpoint(xlarge only)
				+translate(15%,50%)
			+breakpoint(medium down)
				+translate(-20%,-160%)
			+breakpoint(small only)
				+translate(0, -160%)

		.left-part
			.title
				color: $green-color
				font-weight: 900
			p
				padding: 20px 0 0 0 
				font-weight: 400
				&:before
					display: none
		.img-container
			padding-bottom: 65%

	
	.service-wrap
		padding: 100px 0 80px
		background-color: $blueGrey50
		.head-box
			text-align: center
			padding-bottom: 80px
			width: 500px 
			max-width: 100%
			margin: 0 auto
			.head-title
				font-size: 24px
				font-weight: 900
				padding-bottom: 10px
				text-transform: uppercase

		.content-box
			padding: 0 30px
			position: relative
			+breakpoint(medium down)
				padding-bottom: 40px
			// &:before
			// 	content: ""
			// 	display: block
			// 	position: absolute
			// 	top: 0
			// 	bottom: 0
			// 	right: 0
			// 	height: 250px
			// 	width: 2px
			// 	background-color: $dark-color
			// &:last-child
			// 	&:before
			// 		background-color: transparent
			.title
				color: $green-color
				text-transform: uppercase
				font-weight: 700
				padding-bottom: 10px

	.benefits-wrap
		padding: 50px 0
		overflow-x: hidden
		.img-bg
			&.prom-img
				left: -185px
				right: -385px
	.how-it-works-wrap
		position: relative
		overflow-x: hidden
		.bg-color
			top: initial
			bottom: 0
		

		.img-box
			padding-bottom: 0
			height: 770px
			
			+breakpoint(medium down)
				width: 60%
				margin: auto
			.img-bg
				&.prom-img
					left: -250px
					right: 20px

		.tab-buttons
			.one-item
				width: 40px
				height: 40px
				background-color: white
				text-align: center
				border-radius: 50%
				cursor: pointer
				position: absolute
				z-index: 10
				span
					+xy-align
					font-weight: 600
					font-size: 14px
					// +centered-inside
				&.active, &:hover
					background-color: $green-color
					color: white
				&.one
					top: 240px
					right: 140px
				&.two
					top: 320px
					left: 190px
				&.three
					top: 450px
					right: 240px
				&.fore
					top: 550px
					left: 185px
				&.five 
					top: 400px
					right: 100px

		.content-selection-wrap, .head-box
			position: relative
			margin-top: 150px
			color: white
			.green-line
				height: 55px
			+breakpoint(medium down)
				margin-top: 50px
		.content-selection-wrap
			margin-top: 80px
			.head-title
				font-size: 24px
			.title
				color: $green-color
				font-weight: 600
				padding-bottom: 20px
				span
					color: white

			+breakpoint(medium down)
				padding-bottom: 100px
	
		+breakpoint(small only)
			.img-box
				width: 100%
				height: 500px
			.tab-buttons
				.one-item
					&.one
						top: 160px
						right: 100px
					&.two
						top: 210px
						left: 120px
					&.three
						top: 290px
						right: 140px
					&.fore
						top: 350px
						left: 100px


	.tab-buttons
		.one-item
			width: 40px
			height: 40px
			cursor: pointer
			position: absolute
			z-index: 10
