.sewerage-page
	.banner-box
		height: 80vh
		position: relative
		@media only screen and (min-width: 1720px)
			height: 60vh
		+breakpoint(medium only)
			height: 60vh
		+breakpoint(small only)
			height: 70vh
	.about-sewerage
		margin: -250px 0 50px
		background-color: white
		padding: 50px 70px
		position: relative
		p
			column-count: 2
		+breakpoint(small only)
			padding: 25px 40px
			p
				column-count: 1

.type-of-sewerage
	position: relative
	bottom: -100px
.one-nav-box
	display: block
	position: relative
	height: 580px
	background-color: $grey200
	margin-bottom: 20px
	z-index: 1
	&.small
		height: 280px
		.img-bg
			left: 400px
			top: 65px
			+breakpoint(medium down)
				top: 0
		.content-box
			p
				width: 300px
				max-width: 100%
				max-height: 150px
	.img-bg
		background-position: bottom
		background-size: contain
		top: 150px
		left: 150px
		z-index: 10
	.content-box
		position: relative
		padding: 50px
		+transition(.3s)
		svg
			position: absolute
			top: 50px
			left: 50px
			width: 50px
			height: 50px
			padding: 10px
			border: 1px solid $grey400
			fill: $grey400

		.text-box
			margin-left: 70px
			.head-title
				margin-bottom: 20px
				font-size: 26px
				font-weight: 800
			p
				font-size: 14px
				max-height: 335px
				overflow: hidden

	&:hover
		.hover-blue-patern
			opacity: 1
		.content-box
			svg
				fill: white
				border: 1px solid white
			.head-title, p
				color: white

	+breakpoint(small only)
		.content-box
			padding: 25px
			svg
				width: 40px
				height: 40px
				top: 25px
				left: 25px
			.text-box
				.head-title
					font-size: 20px
.types-sewerage-wrap
	// background-color: $dark-color
	overflow: hidden
	width: 100%
	position: relative
	// margin-top: -100px
	padding: 220px 0 100px

	p
		color: white
		margin-bottom: 20px

	.img-bg
		width: 45%
		left: 55%
		min-height: 500px
		top: 265px

	+breakpoint(small only)
		padding: 120px 0 100px

.advantages-box
	padding: 180px 0 100px
	position: relative
	overflow: hidden
	&:before
		content: ""
		display: block
		background-color: $grey200
		position: absolute
		height: 100%
		width: 90%
		left: 25%
		top: 0
		z-index: -1
		+breakpoint(xxlarge up)
			left: 31%

	.head-title-box
		margin: 0
	p
		column-count: 2
		margin-bottom: 20px

	+breakpoint(medium down)
		padding: 100px 0
		&:before
			left: 30%
		p
			column-count: 1

	+breakpoint(small only)
		padding: 50px 0
		&:before
			width: 100%
			left: 0

		.head-title-box
			margin: 40px 0





.our-services-wrap, .catalog-types
	margin: 100px 0 50px
	.head-title-center
		text-align: center
		text-transform: uppercase
		font-size: 26px
		font-weight: 800
		margin-bottom: 30px
