.row.columns-left
  .columns
    float: left !important

.dib
  display: inline-block
  vertical-align: middle
  line-height: 1

.disn
  display: none

.clearfix
  position: relative
  +clearfix
  .floated
    float: left
    width: 50%
    vertical-align: middle
  .floated-right
    float: right
    width: 50%
    vertical-align: middle

.float-right
  +breakpoint(medium up)
    float: right !important
.float-left
  +breakpoint(medium up)
    float: left !important

.mobile
  display: block
  +breakpoint(medium up)
    display: none
.desktop
  +breakpoint(small only)
    display: none

.medium
  display: block
  +breakpoint(large up)
    display: none
.medium-none
  +breakpoint(medium down)
    display: none



.img-container
  position: relative
  width: 100%
  // height: 0
  padding-bottom: 35%
  background-size: cover
  background-position: center
  background-repeat: no-repeat

.img-bg
  position: absolute
  +fullsize
  background-position: center
  background-size: cover
  background-repeat: no-repeat
  +transition(1s)

.lightened
  +grayscale
  background-color: rgba(255,255,255,0.75)
  background-blend-mode: lighten

.darken
  +grayscale
  background-color: rgba(0,0,0,0.25)
  background-blend-mode: darken


.head-title-box
  margin: 40px 0
  .green-line
    width: 5px
    height: 64px
    background-color: $green-color
    display: inline-block
    vertical-align: middle
  .head-title
    font-size: 32px
    font-weight: 800
    line-height: 1.2
    margin-left: 20px
    display: inline-block
    vertical-align: middle
    &.white
      color: white
    &.green
      color: $green-color
  &.inner-page
    text-align: center
    padding-top: 65px

  +breakpoint(small only)
    .green-line
      height: 45px
    .head-title
      font-size: 20px
    &.long-title-sm
      position: relative
      .head-title
        position: absolute
      .green-line
        height: 69px



.title
  text-transform: uppercase

.btn
  font-size: 14px
  font-weight: 600
  text-transform: uppercase
  svg
    width: 15px
    height: 13px
    transform: translate(25%,0)
    margin-left: 10px

  &:hover
    svg
      transform: translate(0,0)
      animation: arrow-anim 0.75s

.button
  padding: 20px 22px
  border: 1px solid white
  display: inline-block
  position: relative
  cursor: pointer
  +transition(.3s)
  span
    font-size: 14px
    text-transform: uppercase
    vertical-align: middle
    color: rgba(white, 0.6)
  svg
    margin-left: 5px
    width: 12px
    height: 12px
    vertical-align: middle
    fill: rgba(white, 0.6)
  &.dark
    border: 1px solid $dark-color
    span
      color: $dark-color
    svg
      fill: $dark-color
  &.small-grey-btn
    padding: 5px 15px
    border: 1px solid $blueGrey400
    span
      color: $blueGrey400
      line-height: 1.8
    svg
      fill: $blueGrey400
      margin-right: 5px
      width: 15px
      height: 15px
  &.green
    background-color: $green-color
    border: 1px solid transparent
    &:hover
      span
        color: white
      svg
        fill: white
    // &:hover
    //   border: 1px solid $green-color
    //   span
    //     color: $green-color
    //   svg
    //     fill: $green-color

  &:hover
    border: 1px solid $green-color
    // border: 1px solid $blue-color
    span
      color: $green-color
      // color: $blue-color
    svg
      fill: $green-color
      // fill: $blue-color

  +breakpoint(small only)
    padding: 12px 25px
    svg
      width: 15px
      height: 15px
    &.small-grey-btn
      padding: 3px 12px
      span
        font-size: 12px

.bg-color
  background-color: $dark-color
  width: 100%
  height: 90%
  z-index: -1
  position: absolute
  left: 0
  top: 0


.buttons-square-box
  margin-bottom: 30px
  z-index: 100
  .prev-btn, .next-btn
    border: 1px solid white
    width: 64px
    height: 64px
    display: inline-block
    cursor: pointer
    +transition(.3s)
    svg
      width: 64px
      height: 64px
      padding: 25px
      fill: white
      +transition(.3s)
    &.dark
      border: 1px solid $dark-color
      svg
        fill: $dark-color
    &:hover
      border: 1px solid $green-color
      // border: 1px solid $blue-color
      svg
        fill: $green-color
        // fill: $blue-color
    &.white
      border: 1px solid white
      background-color: white
      width: 45px
      height: 45px
      svg
        fill: $dark-color
        width: 45px
        height: 45px
        padding: 15px
    +breakpoint(small only)
      width: 55px
      height: 55px
      svg
        width: 55px
        height: 55px
        padding: 20px
  .prev-btn
    margin-right: 10px

.hover-blue-patern
  background-color: $blue-for-photo
  opacity: 0
  pointer-events: none
  // z-index: -1
  +transition(.3s)
  +fullsize

.pb
  padding-bottom: 80px

.pt
  padding-top: 80px


.content-selection
  display: none
  &.active
    display: block


.din-med
  +breakpoint(medium down)
    display: none