.be-dealer-popup.form-popup data-form-attr="dealer-form"
  .head-title = t("be-dealer-popup.title")
  .sub-title = t("be-dealer-popup.sub-title")
  .close-popup = inline_svg "svg/close.svg"
  form.send-form action="/dealer" method="post" enctype="multipart/form-data"
    .input-field.popups
      input#name-dealer name="name" required=""
      label = t("labels.name")
      span.bar
    .input-field.popups
      input#number-dealer name="number" required=""
      label = t("labels.number")
      span.bar
    .input-field.popups
      input#email-dealer name="email" required=""
      label = t("labels.mail")
      span.bar

    .input-field.popups
      input#sity-dealer name="sity" required=""
      label = t("labels.sity")
      span.bar

    button.button.green.accept-button type="submit"
      span = t("popup-btn")
      = inline_svg "icons/phone.svg"

  .success
    = inline_svg "svg/done.svg"
    .head-title = t("success-popup.title")
    .sub-title = t("success-popup.sub-title")