.one-item-3d.five data-popup-attr="five-element-3d"
	.inner-popup
		.title Поліпропіленовий корпус
		p Надміцний матеріал чеського виробництва. Термін служби понад 50років. Екологічно чистий, стійкий до ультрафіолетових променів та агресивного середовища

