.footer-wrap
  .row
    .medium-4.large-3.columns
      .one-box-footer
        .title = t("footer.about_us")
        p = t("footer.info")
        a.crieted-box.desktop href=""
          = inline_svg "svg/voronin-logo.svg"
          span
            = raw t ("footer.crieted-by")


    .medium-4.large-3.columns.desktop
      .one-box-footer.ipad-none
        .title = t("footer.category")
        ul
          li
            a href=root_path = t("header.main")
          li
            a href="" = t("header.sewerage.sewerage-title")
          li
            a href="" = t("header.products.products-title")
          li
            a href=about_us_path = t("header.about_us")
          li
            a href=our_projekts_path = t("header.portfolio")
          li
            a href=blog_page_path = t("header.blog")
          li
            a href=contact_us_path = t("header.contact_us")

    .medium-4.large-3.columns
      .one-box-footer
        .title = t("footer.contact")
        a href="tel:+38 (067)980 22 31"
          = inline_svg "icons/phone.svg"
          | +38 (067) 980 22 31
        a href="miato:alpinss.info@gmail.com"
          = inline_svg "icons/mail.svg"
          |alpinss.info@gmail.com

        .title.smp = t("socials")
        a.socials href="" = inline_svg "icons/fb_icon.svg"
        a.socials href="" = inline_svg "icons/insta_icon.svg"

    .medium-4.large-3.columns.desktop
      .one-box-footer.balck-color
        .title = t("footer.call")
        .sub-title = t("footer.our-number")
        = simple_form_for(Call.new,url: "/call", html: {method: :post}) do |f|
          .input-field.footer
            = f.input_field :phone
            label + 38 (XXX) XXX-XX-XX
            span.bar

          button.button.with-shado type="submit"
            = t("order-btn")
            = inline_svg "icons/arrow_right.svg"

  a.crieted-box.sm.mobile href=""
    = inline_svg "svg/voronin-logo.svg"
    span
      = raw t ("footer.crieted-by")
