.one-item-3d.fore data-popup-attr="fore-element-3d"
	.inner-popup
		.title Дисковий аератор
		p  Велика кількість і висока точність отворів забезпечує рівномірну подачу кисню в установці, що сприяє максимально ефективним результатам очистки.

