.header-container
  a.logo href=root_path = inline_svg "icons/logo.svg"
  .right-part
    ul.nav-box.dib
      li
        a.title href=about_us_path = t("header.about_us")
      li.dd-hover-canalization
        a.title.dd-b href=sewerage_page_path = t("header.sewerage.sewerage-title")
        = inline_svg "svg/ic_keyboard_arrow_down_black_24px.svg"
        ul.hover-block-canalization
          li
            a.title href=sewerage_private_path = t("header.sewerage.for_hauses")
          li
            a.title href=sewerage_buisnes_path = t("header.sewerage.for_business")
          li
            a.title href=sewerage_prom_path = t("header.sewerage.for_industrial") 

      li.dd-hover-goods
        a.title.dd-b href=catalog_page_path = t("header.products.products-title")
        = inline_svg "svg/ic_keyboard_arrow_down_black_24px.svg"
        ul.hover-block-goods
          li
            a.title href=pumps_path = t("header.products.pumping_stations")
          li
            a.title href=drainage_path = t("header.products.drainage")
          li
            a.title href=pools_path = t("header.products.pools")
          li
            a.title href=heatpumps_path = t("header.products.heat_pumps")
      li
        a.title href=our_projekts_path = t("header.portfolio")
      li
        a.title href=blog_page_path = t("header.blog")
      li
        a.title href=contact_us_path = t("header.contact_us")

    .number-box.dib
      a.tel href="tel:+38 (067) 980 22 31"
        span
          |+
        |38
        span
          |(
        |067
        span
          |)
        | 980 22 31

      a.tel href="tel:+38 (032) 244 44 31"
        span
          |+
        |38
        span
          |(
        |032
        span
          |)
        | 244 44 31

    .language-box.dib
      .language-one.active
        = I18n.locale
        = inline_svg "svg/lan_arrow.svg"
        .hover-block
          - if @locale_links
            - @locale_links.each do |locale, url|
              - active = I18n.locale == locale
              - tag_name =  active ? "span" : "a"
              - tag_attrs = {class: "locale-link"}
              /- tag_attrs["href"] = locale.to_sym == I18n.default_locale.to_sym ? "/" : "/#{locale}"
              - tag_attrs["href"] = url
              - locale_names = {uk: "УКР",ru: "РУС",en: "ENG"}
              .language-one = content_tag(tag_name, locale_names[locale.to_sym], tag_attrs)
      / .drop-down-box.dib
      /   - I18n.available_locales.each do |locale|
      /     - active = I18n.locale == locale
      /     - tag_name =  active ? "span" : "a"
      /     - tag_attrs = {class: "locale-link"}
      /     - tag_attrs["href"] = locale.to_sym == I18n.default_locale.to_sym ? "/" : "/#{locale}"
      /     - locale_names = {uk: "УКР",ru: "РУС",en: "ENG"}
      /     .language-one = content_tag(tag_name, locale_names[locale.to_sym], tag_attrs)
    .hamburger.menu-button
      .hamburger-box
        .hamburger-inner
