.main-banner-video-wrap
  / .img-bg.darken style="background-image: url(#{asset_path('photos/banner_bg.jpg')})"
  .video-background.darken
    .video-foreground
      iframe#bg-video frameborder="0" webkitallowfullscreen="" mozallowfullscreen="" allowfullscreen="" scrolling="no" src="https://www.youtube.com/embed/#{@main.video_url}?controls=0&showinfo=0&rel=0&autoplay=1&loop=1&playlist=#{@main.video_url}&mute=1"

  .content-banner.tl-anim
    .row
      .columns.large-6
        .info-banner
          .company = t("main-banner.name-company")
          .h1.four-anim =@main.title
          p.four-anim =@main.title_description

          a.play-box.js-video-button.btn-anim data-video-id="#{@main.video_url}" href="#"
            .play-button
              = inline_svg "icons/play_btn.svg"
            span.title = t("main-banner.video-btn")

        / a.sroll-link.title href="" детальніше

      .columns.large-4
        a.one-box-nav.three-anims href=sewerage_private_path
          .icon = inline_svg "icons/home.svg"
          .title = t("main-banner.box-nav.for_hauses")

          .hover-arrow = inline_svg "icons/arrow_right.svg"

        a.one-box-nav.three-anims href=sewerage_buisnes_path
          .icon = inline_svg "icons/business.svg"
          .title = t("main-banner.box-nav.for_business")

          .hover-arrow = inline_svg "icons/arrow_right.svg"

        a.one-box-nav.three-anims href=sewerage_prom_path
          .icon = inline_svg "icons/industrial.svg"
          .title = t("main-banner.box-nav.for_industrial")

          .hover-arrow = inline_svg "icons/arrow_right.svg"
