.mobile-menu
  .close-box = inline_svg "svg/close.svg"
  ul.nav-box.dib
    li
      a.title href=root_path головна
    li.dd-hover-canalization
      .title.dd-b = t("header.sewerage.sewerage-title")
      = inline_svg "svg/ic_keyboard_arrow_down_black_24px.svg"
      ul.hover-block-canalization
        li
          a.title href=sewerage_private_path = t("header.sewerage.for_hauses")
        li
          a.title href=sewerage_buisnes_path = t("header.sewerage.for_business")
        li
          a.title href=sewerage_prom_path = t("header.sewerage.for_industrial")

    li.dd-hover-goods
        .title.dd-b = t("header.products.products-title")
        = inline_svg "svg/ic_keyboard_arrow_down_black_24px.svg"
        ul.hover-block-goods
          li
            a.title href=drainage_path = t("header.products.pumping_stations")
          li
            a.title href=drainage_path = t("header.products.drainage")
          li
            a.title href=drainage_path = t("header.products.pools")
          li
            a.title href=drainage_path = t("header.products.heat_pumps")
    li
      a.title href=about_us_path = t("header.about_us")
    li
      a.title href=our_projekts_path = t("header.portfolio")
    li
      a.title href=blog_page_path = t("header.blog")
    li
      a.title href=contact_us_path = t("header.contact_us")

  .contact-us-box
    a.one-box href="tel: +38 (067) 980 22 31"
      = inline_svg "icons/phone.svg"
      |+ 38 (067) 980 22 31
      
    a.one-box href="milito: alpin.zahid@gmail.com"
      = inline_svg "icons/mail.svg"
      |alpin.zahid@gmail.com

    .socials-box
      .one-social = inline_svg "icons/fb_icon.svg"
      .one-social = inline_svg "icons/insta_icon.svg"
