.one-item-3d.one data-popup-attr="one-element-3d"
	.inner-popup
		.title Люк оглядовий
		p  Виготовлений із високоміцного полімерного матеріалу, характеризується високою стійкістю і довгим терміном експлуатації.

