.popup-advice.form-popup data-form-attr="order-form"
  .head-title = t("advice-popup.title")
  .sub-title = t("advice-popup.sub-title")
  .close-popup = inline_svg "svg/close.svg"
  form.send-form action="/consultation" method="post" enctype="multipart/form-data"
    .input-field.popups
      input#name-advice name="name" required=""
      label = t("labels.name")
      span.bar
    .input-field.popups
      input#number-advice name="number" required=""
      label = t("labels.number")
      span.bar
    .input-field.popups
      input#email-advice name="email" required=""
      label = t("labels.mail")
      span.bar

    button.button.green.accept-button type="submit"
      span = t("popup-btn")
      = inline_svg "icons/phone.svg"

  .success
    = inline_svg "svg/done.svg"
    .head-title = t("success-popup.title")
    .sub-title = t("success-popup.sub-title")