.one-item-3d.three data-popup-attr="three-element-3d"
	.inner-popup
		.title Труби та комплектуючі
		p Матеріали австрійського виробництва, є одними з найбільш функціональних та довговічних. Стійкі до сольового, лужного і кислотного середовищ